<%
	var moment = GeneralService.includePackage('moment-timezone');
	var format_number=function(number){
		return FormatService.formatNumber(number,req.query.number_format,req.query.precision);
	}
%>
<table class='ui basic unstackable table' style='display: block;overflow-x:scroll;'>
	<tbody>
		<%t.transaction_categories.forEach(function(tc,i){%>
			<tr class='transaction top aligned' data-tc-id='<%=tc.id%>'>
				<%if(i==0){%>
					<td rowspan='<%=t.transaction_categories.length+1%>'>
						<span class='popup' data-html='<%-moment(tc.occuredAt).tz('Asia/Kolkata').format('h:mm a')%>'>
						<%-moment(tc.occuredAt).tz('Asia/Kolkata').format('MMM')%></br>
						<span style='font-size: 1.5rem;'><%-moment(tc.occuredAt).tz('Asia/Kolkata').format('DD')%></span></br>
						<span style='font-size: 0.75rem;'><%-moment(tc.occuredAt).tz('Asia/Kolkata').format('YYYY')%></span>
						</span>
						<!-- <a href='#' class='show_details'>details</a> -->
					</td>
				<%}%>
				<td>
					<!-- category  -->
					<span style='opacity: 0.5;'>Category:</span>
					<div class='ui category dropdown' style='<%=(tc.type=='income_expense'&&!tc.category)?'background:yellow':''%>'>
						<input type='hidden' name='category' value='<%=tc.category%>'>
						<div class='text'><%=tc.category_name%></div>
						<i class='dropdown icon'></i>
						<div class='menu'>
							<%categories.forEach(function(category){%>
								<%- partial('../partials/category_dropdown', {category: category}) %>
							<%})%>
						</div>
					</div>
					<!-- &nbsp;&nbsp;&nbsp; <span style='opacity: 0.5'>| Tags:</span> -->
					<div class='ui divider' style='margin-top: 0px; margin-bottom: 0px;'></div>
					<!-- description -->
					<span class='description'><%-tc.description?tc.description:''%></span>
					<a class='edit' data-id='<%=tc.id%>' href='' style='<%=(!tc.description)?'background:yellow':''%>'>edit</a><br>

					<div class='edit_description' data-id='<%=tc.id%>' style='display:none;'>
						<div class='ui fluid input'>
							<input type='text' name='description' value='<%-tc.description?tc.description:''%>'>
						</div>
						<br>
						<button class='ui teal button submit_edit_desc' data-id='<%=tc.id%>' >save</button>
						<button class='ui red button cancel_edit_desc' data-id='<%=tc.id%>' >cancel</button>
					</div>
					<span style='opacity: 0.5;'>Tags:</span>
					<span class='tags'>
						<%- partial('../partials/display_tags', {tags: tc.tags}) %>
					</span>
					<i class='add_tags2 link plus icon' style='opacity: 0.5;'></i>
					<div class='ui add_tags_popup popup'>
						Add tags to this transaction:
						<button class='ui teal disabled button submit_edit_tags'>update</button>
						<div class='ui tags_dd fluid multiple search selection dropdown'>
							<%
								var tag_names=_.map(tc.tags,'id');
								var tags_string=tag_names.join(',');
							%>
							<input name='tags' type='hidden' value='<%=tags_string%>'>
							<i class='dropdown icon'></i>
							<input class='search' autocomplete='off' tabindex='0'><span class='sizer' style=''></span>
							<div class='default text'>Tags</div>
							<div class='menu transition hidden' tabindex='-1'>
								<!-- tags are here -->
							</div>
						</div>
						<br>
						<!-- <button class='ui red button cancel_edit_tags' data-id='<%=t.id%>' >cancel</button> -->
					</div>
					<br>
				</td>
				<td>
					<%if(tc.type=='income_expense'){
						if(tc.original_amount<0){%> 
							<span style='opacity: 0.5'>You paid</span><br>
							<b style='color:red' class='<%-tc.original_currency!='INR'?'popup':''%>' data-html='INR <%=(-tc.amount_inr)%>'><%=tc.original_currency%> <%=(format_number(-tc.original_amount))%></b>
						<%}else{%>
							<span style='opacity: 0.5'>You got</span><br>
							<b style='color:#5bc5a2' class='<%-tc.original_currency!='INR'?'popup':''%>' data-html='INR <%-tc.amount_inr%>'><%=tc.original_currency%> <%=(format_number(tc.original_amount))%></b>
						<%}
					}else{%>
						<span style='opacity: 0.5'>You transferred</span><br>
						<b style='' class='<%-tc.original_currency!='INR'?'popup':''%>' data-html='INR <%=(-tc.amount_inr)%>'><%=tc.original_currency%> <%=format_number((-tc.original_amount))%></b>
					<%}%>
				</td>
				<td>
					<%if(tc.original_amount<0){%> 
						<span style='opacity: 0.5'>from</span><br>
					<%}else{%>
						<span style='opacity: 0.5'>deposited to</span><br>
					<%}%>
					<%=tc.account.name%>
				</td>
				<td>
					<%if(tc.type=='income_expense'){%> 
						<%if(tc.original_amount<0){%> 
							<span style='opacity: 0.5'>to</span><br>
						<%}else{%>
							<span style='opacity: 0.5'>from</span><br>
						<%}%>
						<%=tc.third_party%>
					<%}else{%>
						<span style='opacity: 0.5'>to</span><br>
						<%=tc.to_account.name%>
					<%}%>
				</td>
			<!-- <td></td>
			<td></td> -->
			</tr>
		<%})%>
		<tr>
			<td colspan='4' style='padding:7px;opacity: 0.7;'>
			</td>
		</tr>
	</tbody>
</table>
<script type='text/javascript'>
	$(document).ready(function(){
		$('.category.dropdown').dropdown();
	})
</script>