<div class="ui segment rule_condition" data-rule-trigger='transaction_after_create'>
    <div class="field">
        <label>Transaction Type: </label>
        <div class="ui fluid scrolling dropdown basic button" id='details.trigger.condition.type'>
            <input type="hidden" name="details.trigger.condition.type" value="<%=_.get(rule, 'details.trigger.condition.type', '')%>">
            <i class="dropdown icon"></i>
            <div class="text"></div>
            <div class="menu transition hidden" tabindex="-1">
                <div class="item" data-value='income'>Income</div>
                <div class="item" data-value='expense'>Expense</div>
            </div>
        </div>
        </div>
    <div class="field accout">
        <label>Account:</label>
        <div class="ui fluid scrolling dropdown basic button" id="details.trigger.condition.account">
            <input type="hidden" name="details.trigger.condition.account" value="<%=_.get(rule, 'details.trigger.condition.account', '')%>">
            <i class="dropdown icon"></i>
            <div class="text"></div>
            <div class="menu transition hidden" tabindex="-1">
                <%accounts.forEach(function(a){%>
                    <div class="item" data-value='<%= a.id %>'>
                        <%= a.name %>
                    </div>
                    <%})%>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Third Party contains:</label>
        <input type="text" name="details.trigger.condition.third_party" placeholder="ex: funds transfer" value="<%=_.get(rule, 'details.trigger.condition.third_party', '')%>">
    </div>
    <div class="field">
        <label>Amount(INR):</label>
        <input type="number" placeholder="amount_inr" name="details.trigger.condition.amount_inr" value="<%=_.get(rule, 'details.trigger.condition.amount_inr', '')%>">
    </div>
</div>

<div class="ui segment rule_condition" data-rule-trigger='parsed_email_before_create'>
        <div class="field">
            <label>Debit Card Last 4 Digits: </label>
            <input type="text" name="details.trigger.condition.extracted_data.debit_card_last_4_digits" value="<%=_.get(rule, 'details.trigger.condition.extracted_data.debit_card_last_4_digits', '')%>">
        </div>
        <div class="field">
            <label>Filter Type:</label>
            <div class="ui fluid scrolling dropdown basic button" id="details.trigger.condition.type">
                <input type="hidden" name="details.trigger.condition.type" value="<%=_.get(rule, 'details.trigger.condition.type', '')%>">
                <i class="dropdown icon"></i>
                <div class="text"></div>
                <div class="menu transition hidden" tabindex="-1">
                    <%sails.config.emailparser.filters.forEach(function(f){%>
                        <div class="item" data-value='<%= f.name %>'>
                            <%= f.name %>
                        </div>
                        <%})%>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Body Parser Used:</label>
            <input type="text" name="details.trigger.condition.body_parser_used" placeholder="ex: bill_pay_v1" value="<%=_.get(rule, 'details.trigger.condition.body_parser_used', '')%>">
        </div>
    </div>