<div class='ui container'>
	<form class="ui form " action="" method='post' enctype="multipart/form-data">
		<div class="ui basic segment">
		<div class="ui four fields">
			<div class="ui field">
				<label>Description</label>
				<div class="ui transparent input">
					<input type="text" name="description" value="<%=rule.description%>">
				</div>
			</div>
			<div class="ui field">
				<label>Status</label>
				<div class="ui dropdown">
						<input type="hidden" name="status" value="<%=rule.status%>">
						<div class="text"><%=rule.status%></div>
						 <i class="dropdown icon"></i>
						<div class="fluid menu">
						  <div class="item" data-value="active">Active</div>
						  <div class="item" data-value="paused">Paused</div>
						</div>
					  </div>
			</div>
		</div>
		</div>
		<% if(rule.status != 'active') {%>
		<div class="ui compact message"><i class="ui warning icon"></i>This rule will not run until you activate it.</div>
		<%}%>
		<div class='ui grid'>
			<div class='seven wide column'>
				<h3>What should trigger this rule?</h3>
				<div class='ui segment'>
					<div class="field">
						<label>Event or hook:</label>
						<div class="ui fluid search selection dropdown" id='trigger_dropdown'>
							<input type="hidden" name="trigger" value="<%=rule.trigger%>">
							<i class="dropdown icon"></i>
							<div class="default text">Select rule</div>
							<div class="menu">
								<%sails.config.rule.triggers.forEach(function(trigger){%>
									<div class="item" data-value="<%=trigger.slug%>">
										<%=trigger.title%>
										<br><br>
										<span style='opacity:0.5'><%=trigger.description%></span>
									</div>
								<%});%>
							</div>
						</div>
					</div>
					<div class="field">
						<label>Matches Where</label>
						<%- partial('partials/rule_triggers') %>
					</div>
				</div>
			</div>
			<div class='two wide column'>
				<div class='ui basic center aligned segment'>
					
				<br><br><br><br>
				<!-- <i class='huge arrow alternate circle right outline icon'></i> -->
				<i class='big arrow right icon'></i>
				</div>
			</div>
			<div class='seven wide column'>
				<h3>What actions should we perform?</h3>
				<div class='ui segment'>
					<div class="field">
						<label>Action to perform:</label>
						<div class="ui fluid search selection dropdown" id='action_dropdown'>
							<input type="hidden" name="action" value="<%=rule.action%>">
							<i class="dropdown icon"></i>
							<div class="default text">Select rule</div>
							<div class="menu">
								<%sails.config.rule.actions.forEach(function(action){%>
									<div class="item <%action.allowed_triggers.forEach(function(at){%>trig_<%=at%> <%})%>" data-value="<%=action.slug%>" style='display: none'>
										<%=action.title%>
										<br><br>
										<span style='opacity:0.5'><%=action.description%></span>
									</div>
								<%});%>
							</div>
						</div>
					</div>
					<div class="field">
						<label>Changes To</label>
						<%- partial('partials/rule_actions') %>
					</div>
				</div>
				
			</div>
		</div>
		<div class="ui field">
			<br>
			<input type="submit" class="ui green submit large button" value="save">
		</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		// initialize trigger criterias
		$('.rule_trigger').hide();
		$(`[data-rule-trigger=${$("input[name=trigger]").val()}]`).show()
		// initialize action criterias
		$('.rule_action').hide();
		$(`[data-rule-action=${$("input[name=action]").val()}]`).show()

		$('.dropdown').dropdown();
		$('#trigger_dropdown').dropdown({
			onChange: function(value, text, $selectedItem) {
				console.log(value, text);
				$('#action_dropdown').find('.item').hide(); // hide all drop down
				$('#action_dropdown .text').text(''); // sets the text to null
				$('#action_dropdown input').val(''); // set input to null
				$('#action_dropdown').find('.trig_'+value).show(); // show the right ones
				$('.rule_trigger').hide();
				$(`[data-rule-trigger=${value}]`).show()
			}
		});
		$('#action_dropdown').dropdown({
			onChange: function(value, text, $selectedItem) {
				console.log(value, text);
				$('.rule_action').hide();
				$(`[data-rule-action=${value}]`).show()
			}
		});
		$('#trigger_account').dropdown({
            onChange: function (value, text, $selectedItem) {
                var ttt = $("input[name=trigger_txn_type]").val();
                console.log('inside trigger_account onChange', 'value', value, 'ttt', ttt)
				if(ttt == 'expense')
					$('#action_account').dropdown('set selected', value);
                else    
					$('#action_to_account').dropdown('set selected', value);
            }
        })
        $('#trigger_txn_type').dropdown({
            onChange: function (value, text, $selectedItem) {
                var a = $("input[name=trigger_account]").val();
                console.log('inside trigger_txn_type onChange', 'value', value, 'a', a)
                if(value == 'expense'){
					$('#action_account').dropdown('set selected', a);
					$('#action_account').addClass("disabled"); // don't allow to change if its income
					$('#action_to_account').removeClass("disabled");
				}
                else {   
					$('#action_to_account').dropdown('set selected', a);
					$('#action_to_account').addClass("disabled"); // don't allow to change if its expense
					$('#action_account').removeClass("disabled");
				}
            }
        })
	})
</script>