<%
	
	if(typeof original_currency == 'undefined' || !original_currency)
		original_currency=req.user.details.default_currency;
%>
<div class="ui container">
	<div class="ui grid">
		<div class='four wide tablet computer only column'></div>
		<div class='eight wide table eight wide computer sixteen wide mobile column'>
			<h4 class="ui horizontal divider header">
				<!-- <i class="list icon"></i> -->
				Create Document
			</h4>
			<form class="ui form " action="" method='post' enctype="multipart/form-data">
				<!-- <h4 class="ui dividing header">Shipping Information</h4> -->
				<div class="field">
					<label>Type</label>
					<div class="ui fluid search selection dropdown">
						<input type="hidden" name="type" value="<%=type?type:''%>">
						<i class="dropdown icon"></i>
						<div class="default text">Select type</div>
						<div class="menu">
							<div class="item" data-value="<%=sails.config.docparser_filters.hdfc_credit_card%>"></i>HDFC credit card statement</div>
							<div class="item" data-value="<%=sails.config.docparser_filters.icici_bank%>"></i>ICICI bank statement</div>
							<div class="item" data-value="<%=sails.config.docparser_filters.hdfc_bank%>"></i>HDFC bank statement</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label>Upload</label>
					<input type="file" name="file" required>
				</div>
	
				
				<input type="submit" class="ui button" value="Submit">
				<div class="ui success message">
					<div class="header">Document created</div>
					We will parse the document and update your transactions.
				</div>
			</form>
			<% if(message){ %>
			<div class="ui error message">
				<div class="header">Error</div>
				<p><%=message%></p>
			</div>
			<% } %>
		</div>
		<div class='sixteen wide tablet four wide computer sixteen wide mobile column'>
			<div class='ui segment'>
				<p>For now we support hdfc credit card statements.</p> 
				<p><b>We expect a pdf file without password protection.</b></p> 
				<p>To generate a pdf file without password:
					<ol class="ui list">
						<li>open the file in google chorme</li>
						<li>enter password</li>
						<li>ctrl + p / cmd + p</li>
						<li>save as pdf</li>
					</ol>
				</p>
				
				<br/>

				<!-- <b>Email:</b> 
				For now we support only gmail address. The gmail address can be a business gmail address also. 
				<br/><br/>
				<b>Token:</b>
				You will need to enter token detail here for now. It will be automated later.  -->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.dropdown').dropdown();
		$('.ui.form').form({
			fields: {
				type: 'empty',
			}
		});
	})

</script>

