<div class='ui container'>
	<div class="ui breadcrumb compact basic segment">
		<a class="section" href="/org/<%=req.org.id%>/rules">Rules</a>
		<i class="right angle icon divider"></i>
		<div class="active section">Edit rule</div>
	</div>
	<form class="ui form" action="" method='post'>
		<div class="ui basic segment">
		<div class="ui two fields">
			<div class="ui field">
				<label style="font-size:1.3rem;opacity:0.7;">Description</label>
				<div class="ui transparent input">
					<input type="text" name="description" value="<%=rule.description%>">
				</div>
			</div>
			<div class="ui right floated field">
				<label style="font-size:1.3rem;opacity:0.7;">Status</label>
				<div class="ui dropdown">
						<input type="hidden" name="status" value="<%=rule.status%>">
						<div class="text"><%=rule.status%></div>
						 <i class="dropdown icon"></i>
						<div class="fluid menu">
						  <div class="item" data-value="active">Active</div>
						  <div class="item" data-value="paused">Paused</div>
						</div>
					  </div>
			</div>
		</div>
		</div>
		<% if(rule.status != 'active') {%>
		<div class="ui compact message"><i class="ui warning icon"></i>This rule will not run until you activate it.</div>
		<%}%>
		<div class='ui grid'>
			<div class='seven wide column'>
				<h3>What should trigger this rule?</h3>
				<div class='ui segment'>
					<div class="ui field">
						<label>Event or hook:</label>
						<div class="ui fluid search selection dropdown" id='trigger_dropdown'>
							<input type=hidden name="trigger" value="<%=rule.trigger?rule.trigger:''%>">
							<i class="dropdown icon"></i>
							<div class="default text">Select rule</div>
							<div class="menu">
								<%sails.config.rule.triggers.forEach(function(trigger){%>
									<div class="item" data-value="<%=trigger.slug%>">
										<%=trigger.title%>
										<br><br>
										<span style='opacity:0.5'><%=trigger.description%></span>
									</div>
								<%});%>
							</div>
						</div>
					</div>
					<div class="field">
						<label>Condition:</label>
						<%- partial('partials/rule_triggers') %>
					</div>
				</div>
			</div>
			<div class='two wide column'>
				<div class='ui basic center aligned segment'>
					
				<br><br><br><br>
				<!-- <i class='huge arrow alternate circle right outline icon'></i> -->
				<i class='big arrow right icon'></i>
				</div>
			</div>
			<div class='seven wide column'>
				<h3>What actions should we perform?</h3>
				<div class='ui segment'>
					<div class="required field">
						<label>Action to perform:</label>
						<div class="ui fluid search selection dropdown" id='action_dropdown'>
							<input name="action" value="<%=rule.action?rule.action:''%>" type="hidden">
							<i class="dropdown icon"></i>
							<div class="default text">Select rule</div>
							<div class="menu">
								<%sails.config.rule.actions.forEach(function(action){%>
									<div class="item <%action.allowed_triggers.forEach(function(at){%>trig_<%=at%> <%})%>" data-value="<%=action.slug%>" style='display: none'>
										<%=action.title%>
										<br><br>
										<span style='opacity:0.5'><%=action.description%></span>
									</div>
								<%});%>
							</div>
						</div>
					</div>
					<div class="field">
						<label>Set:</label>
						<%- partial('partials/rule_actions') %>
					</div>
				</div>
				
			</div>
		</div>
		<div class="ui field">
			<br>
			<input type="submit" class="ui green submit large button" value="save">
		</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.ui.form')
		.form({
			fields: {
			trigger: {
				identifier: 'trigger',
				rules: [
				{
					type   : 'empty',
					prompt : 'Please select a trigger'
				}
				]
			},
			action: {
				identifier: 'action',
				rules: [
				{
					type   : 'empty',
					prompt : 'Please select an action'
				}
				]
			}
			},
			onSuccess:function(e,fields){
				$(this).addClass('loading');
			}
		})
		;

		// initialize trigger criterias
		$('.rule_condition').hide().find(":input").prop('disabled', true);
		if($("input[name=trigger]").val()){
			$(`[data-rule-trigger=${$("input[name=trigger]").val()}]`).show().find(":input").prop('disabled', false)
		}
		// initialize action criterias
		$('.rule_set').hide();
		$(".rule_set:hidden").find(":input").prop('disabled', true)
		if($("input[name=action]").val()){
			$(`[data-rule-action=${$("input[name=action]").val()}]`).show().find(":input").prop('disabled', false)
		}

		$('.dropdown').dropdown();
		$('#trigger_dropdown').dropdown({
			onChange: function(value, text, $selectedItem) {
				console.log(value, text);
				$('#action_dropdown').find('.item').hide(); // hide all drop down
				$('#action_dropdown .text').text(''); // sets the text to null
				$('#action_dropdown input').val(''); // set input to null
				$('#action_dropdown').find('.trig_'+value).show(); // show the right ones
				$('.rule_condition').hide().find(":input").prop('disabled', true);
				$(`[data-rule-trigger=${value}]`).show().find(":input").prop('disabled', false)
				$('.rule_set').hide().find(":input").prop('disabled', true);
			}
		});
		$('#action_dropdown').dropdown({
			onChange: function(value, text, $selectedItem) {
				console.log(value, text);
				$('.rule_set').hide().find(":input").prop('disabled', true);
				$(`[data-rule-action=${value}]`).show().find(":input").prop('disabled', false)
			}
		});
		$("[id='details.trigger.condition.account']").dropdown({
            onChange: function (value, text, $selectedItem) {
                var ttt = $("input[name='details.trigger.condition.type']").val();
                console.log('inside trigger_account onChange', 'value', value, 'ttt', ttt)
				if(ttt == 'expense')
					$("[id='details.action.set.account']").dropdown('set selected', value);
                else    
					$("[id='details.action.set.to_account']").dropdown('set selected', value);
            }
        })
        $("[id='details.trigger.condition.type']").dropdown({
            onChange: function (value, text, $selectedItem) {
                var a = $("input[name='details.trigger.condition.account']").val();
                console.log('inside trigger_txn_type onChange', 'value', value, 'a', a)
                if(value == 'expense'){
					$("[id='details.action.set.account']").dropdown('set selected', a);
					$("[id='details.action.set.account']").addClass("disabled"); // don't allow to change if its income
					$("[id='details.action.set.to_account']").removeClass("disabled");
				}
                else {   
					$("[id='details.action.set.to_account']").dropdown('set selected', a);
					$("[id='details.action.set.to_account']").addClass("disabled"); // don't allow to change if its expense
					$("[id='details.action.set.account']").removeClass("disabled");
				}
            }
        })
	})
</script>