<%
	
	if(typeof original_currency == 'undefined' || !original_currency)
		original_currency=req.user.details.default_currency;
	var single_active_flag=false;
	var create_or_edit = GeneralService.createOrEdit(req.url);
%>
<div class="ui container">
	<div class="ui grid">
		<div class='four wide tablet computer only column'></div>
		<div class='eight wide table eight wide computer sixteen wide mobile column'>
			<h4 class="ui horizontal divider header">
				<!-- <i class="list icon"></i> -->
				<%=create_or_edit%> Tag
			</h4>
			<form class="ui <%=status%> form " action="" method='post'>
				<!-- <h4 class="ui dividing header">Shipping Information</h4> -->
				
				<div class="field">
					<label>Name</label>
					<input type="text" name="name" placeholder="Name" value="<%=name%>">
				</div>
				<div class="field">
					<label>Description</label>
					<input type="text" name="description" placeholder="Description" value="<%=description%>">
				</div>
				

				
				<div class="ui error message">
					<div class="header">Error</div>
					<p><%=message%></p>
				</div>
				<input type="submit" class="ui button" value="Submit">
				<div class="ui success message">
					<div class="header">Tag created</div>
					You just created a tag
				</div>
			</form>
		</div>
		<div class='sixteen wide tablet four wide computer sixteen wide mobile column'>
			<div class='ui segment'>
				Tags are useful for marking certain transactions. A good use case for tags is to identify transactions associated with a specific trip. 
				<br/><br/>
				<!-- <b>Email:</b> 
				For now we support only gmail address. The gmail address can be a business gmail address also. 
				<br/><br/>
				<b>Token:</b>
				You will need to enter token detail here for now. It will be automated later.  -->
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		$('.ui.form').form({
			fields: {
				name     : 'empty',
				description : 'empty',
			}
		});
		console.log('what is going on');
	})

</script>

