<div class='ui container'>

	
	<div class='ui stackable grid'>
		<div class='ui two wide column'></div>
		<div class='ui twelve wide column'>
			<div class='ui center aligned segment'>
				<a href="/dashboard/?month=<%=prev%>">
					<i class="angle left icon big"></i>
				</a>
				<%=req.query.month?req.query.month:(req.query.year?req.query.year:new Date().toISOString().substring(0,7))%>
				<a href="/dashboard/?month=<%=next%>">
					<i class="angle right icon big"> </i>
				</a>
			</div>
			<div class='ui stackable grid'>
				<div class='ui row'>
						
					<!-- <div class='ui four wide column'>
						<div class='ui segment'>
							
						</div>
					</div> -->
					<div class='ui sixteen wide column'>
						<div class='ui segment'>
							<div class='ui header'>Expenses</div>
							<div style="width:100%;">
								<canvas id="canvas"></canvas>
							</div>
							<!-- Balance in various accounts as a line graph -->
						</div>
						<div class='ui segment'>
							<div class='ui header'>Account snapshots</div>
							<div style="width:100%;">
								<canvas id="canvas2"></canvas>
							</div>
							<!-- Balance in various accounts as a line graph -->
						</div>
						<div class='ui segment'>
							<div class='ui header'>Un-Accounted Money (UAM)</div>
							<div style="width:100%;">
								<canvas id="canvas3"></canvas>
							</div>
							<!-- Balance in various accounts as a line graph -->
						</div>
					</div>
				</div>
				<div class='ui row'>
					<div class='ui six wide column'>
						<div class='ui segment'>
							<h3>List of accounts</h3>
							<div class="ui relaxed divided list">
								<%accounts.forEach(function(account){%>
									<div class="item">
										<i class=" book middle aligned icon"></i>
										<div class="content">
											<a class="header" href='/transactions?account=<%=account.id%>'><%=account.name%></a>
											<%if(account.details && account.details.last_snapshot){%>
												<div class="description popup" data-content='Balance in the account as per last snapshot - <%=GeneralService.timeAgo(account.updatedAt)%>'>Rs. <%=account.details.last_snapshot.balance%> (<%=GeneralService.timeAgo(account.updatedAt)%>)</div>
											<%}else{%>
												<div class="description popup" data-content='Balance in account is the balance in the last known snapshot taken of the account. This account does not seem to have a snapshot. Create a snapshot to show balance here '>Balance unknown</div>
											<%}%>
										</div>
									</div>
								<%})%>
							</div>
						</div>
					</div>
					<div class='ui ten wide column'>
						<div class='ui segment'>
							<h3>Expense per category</h3>
							<div class="ui list">
								<%categories.forEach(function(category){%>
									<%- partial('partials/category', {category: category}) %>
								<%})%>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='ui two wide column'></div>
		
	</div>
</div>
<a class="circular ui icon right floated primary big button" href="/transaction/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new transaction" data-position="left center" data-inverted=""><i class="icon add"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		$('.ui.accordion').accordion();
	})
</script>



<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
</style>
<%if(typeof chart !='undefined'){%>
<script>
	var config = {
		type: 'line',
		data: {
			labels: <%-JSON.stringify(chart.x)%>,
			datasets: [{
				label: 'Expense',
				backgroundColor: 'teal',
				borderColor: 'teal',
				data: [
					<%-chart.y%>
				],
				fill: false,
			}]
		},
		options: {
			responsive: true,
			title: {
				display: false,
				text: 'Expense'
			},
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Day'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Value'
					}
				}]
			}
		}
	};

	var config2 = {
		type: 'line',
		data: {
			// labels: <%-JSON.stringify(chart2.x)%>,
			datasets:<%-JSON.stringify(chart2.datasets)%>
		},
		options: {
			responsive: true,
			maintainAspectRatio:true,
			title: {
				display: false,
				text: 'Expense'
			},
			legend:{
				display:false, // TODO - later, this needs to be done by device type
				boxWidth:20,
			},
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					type: 'linear',
					position: 'bottom',
					ticks:{
						min:1,
						stepSize:1,
					},
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Day'
					}
				}],
				yAxes: [{
					// display: true,
					scaleLabel: {
						display: true,
						labelString: 'Value'
					}
				}]
			}
		}
	};
	var config3 = {
		type: 'line',
		data: {
			// labels: <%-JSON.stringify(chart2.x)%>,
			datasets:<%-JSON.stringify(chart3.datasets)%>
		},
		options: {
			responsive: true,
			maintainAspectRatio:true,
			title: {
				display: false,
				text: 'Expense'
			},
			legend:{
				display:false, // TODO - later, this needs to be done by device type
				boxWidth:20,
			},
			tooltips: {
				mode: 'index',
				intersect: false,
			},
			hover: {
				mode: 'nearest',
				intersect: true
			},
			scales: {
				xAxes: [{
					type: 'linear',
					position: 'bottom',
					ticks:{
						min:1,
						stepSize:1,
					},
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Day'
					}
				}],
				yAxes: [{
					// display: true,
					scaleLabel: {
						display: true,
						labelString: 'Value'
					}
				}]
			}
		}
	};
	window.onload = function() {
		var ctx = document.getElementById('canvas').getContext('2d');
		window.myLine = new Chart(ctx, config);
		var ctx2 = document.getElementById('canvas2').getContext('2d');
		window.myLine2 = new Chart(ctx2, config2);
		var ctx3 = document.getElementById('canvas3').getContext('2d');
		window.myLine3 = new Chart(ctx3, config3);
	};
	$(document).ready(function(){
		$('.popup').popup();
	})
</script>
<%}%>