<div class='ui container'>
	<div class='ui grid'>
		<!-- <div class='three wide tablet computer only column'></div> -->
		<div class='sixteen wide table sixteen wide computer sixteen wide mobile  column'>
			<div class='ui segment'>
				<h1>Transactions</h1>
				<table class="ui celled padded table">
					<thead>
						<tr><th class="single line">Date</th>
						<!-- <th>Time</th> -->
						<th>Description</th>
						<!-- <th>Currency</th> -->
						<th>Amount</th>
						<th>Amount(INR)</th>
						<th>Paid whom</th>
						<th>From account</th>
					</tr></thead>
					<tbody>
						<%transactions.forEach(function(t){%>
							<tr>
								<td><%=t.occuredAt.toISOString()%></td>
								<!-- <td><%=t.occuredAt%></td> -->
								<td></td>
								<!-- <td></td> -->
								<td><%=t.original_currency%> <%=t.original_amount%></td>
								<td class="right aligned"><%=parseFloat(t.amount_inr).toFixed(2)%></td>
								<td><%=t.third_party%></td>
								<td><%=t.account.name%></td>
							</tr>
						<%})%>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <div class='three wide tablet computer only column'></div> -->
	</div>
</div>