<div class='ui container'>

	
	<div class='ui stackable grid'>
		<div class='ui two wide column'></div>
		<div class='ui twelve wide column'>
			<div class='ui center aligned segment'>
				<a href="/dashboard/?month=<%=prev%>">
					<i class="angle left icon big"></i>
				</a>
				<%=req.query.month?req.query.month:(req.query.year?req.query.year:new Date().toISOString().substring(0,7))%>
				<a href="/dashboard/?month=<%=next%>">
					<i class="angle right icon big"> </i>
				</a>
			</div>
			<div class='ui stackable grid'>
				<div class='ui row'>
						
					<!-- <div class='ui four wide column'>
						<div class='ui segment'>
							
						</div>
					</div> -->
					<div class='ui sixteen wide column'>
						<div class='ui segment'>
							<div style="width:100%;">
							    <canvas id="canvas"></canvas>
							</div>
							<!-- Balance in various accounts as a line graph -->
						</div>
					</div>
				</div>
				<div class='ui row'>
					<div class='ui six wide column'>
						<div class='ui segment'>
							<h3>List of accounts</h3>
							<div class="ui relaxed divided list">
								<%accounts.forEach(function(account){%>
									<div class="item">
										<i class="large github middle aligned icon"></i>
										<div class="content">
											<a class="header" href='/account/<%=account.id%>'><%=account.name%></a>
											<div class="description">Updated - <%=GeneralService.timeAgo(account.updatedAt)%></div>
										</div>
									</div>
								<%})%>
							</div>
						</div>
					</div>
					<div class='ui ten wide column'>
						<div class='ui segment'>
							<h3>Expense per category</h3>
							<div class="ui list">
								<%categories.forEach(function(category){%>
									<div class="item">
										<i class="folder icon"></i>
										<div class="content">
											<div class="header"><a href='/category/<%=category.id%>'><%=category.name%></a></div>
											<div class="description">Rs.<%=-category.t_sum%> (<%=(-category.t_sum*100/category.budget).toFixed(1)%>%)</div>
											<div class="list">
												<%category.children.forEach(function(c2){%>
													<div class="item">
														<i class="folder icon"></i>
														<div class="content">
															<div class="header"><a href='/category/<%=c2.id%>'><%=c2.name%></a></div>
															<div class="description">Rs.<%=-c2.t_sum%> (<%=(-c2.t_sum*100/c2.budget).toFixed(1)%>)</div>
														</div>
													</div>
												<%})%>
											</div>
										</div>
									</div>
								<%})%>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='ui segment'>
				<h3>temporary nav bar</h3>
				<ul>
					<li><a href="/transactions">transactions</a></li>
					<li><a href="/emails">Emails to read from</a></li>
					<li><a href="/accounts">Accounts</a></li>
					<li><a href="/categories">Categories</a></li>
					<li><a href="/settings">Settings</a></li>

				</ul>
			</div>
		</div>

		<div class='ui two wide column'></div>
		
	</div>
</div>
<a class="circular ui icon right floated primary big button" href="/transaction/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new transaction" data-position="left center" data-inverted=""><i class="icon add"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		$('.ui.accordion').accordion();
	})
</script>



<style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
<%if(typeof chart !='undefined'){%>
<script>
    var config = {
        type: 'line',
        data: {
            labels: <%-JSON.stringify(chart.x)%>,
            datasets: [{
                label: 'Expense',
                backgroundColor: 'teal',
                borderColor: 'teal',
                data: [
                    <%-chart.y%>
                ],
                fill: false,
            }]
        },
        options: {
            responsive: true,
            title: {
                display: false,
                text: 'Expense'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Day'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };
    window.onload = function() {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);
    };
</script>
<%}%>