<div class='ui container'>
	<br>
	<h2>Do you really want to confirm deleting this transaction?</h2>
	This action is permanent. You cant reverse this. 
	<div class='ui segment'>
		<b>Description:</b> <%=t.description%>
		<b>amount:</b> <%=t.original_currency%> <%=(-t.original_amount)%> <br>
		<b>from_account:</b> <%=t.account.name%><br>
		<b>paid_whom:</b> <%=t.third_party%><br>
		<b>date:</b> <span id='date'></span>
		<br>
		<br>
		<b>Transaction line items:</b></br>
		Deleteing this transaction will also delete associtated <b style="color:red;"><%=t.transaction_categories.length%></b> line item(s).
		<br>
		<br>
		<form class="ui form " action="" method='post'>
			<!-- <h4 class="ui dividing header">Shipping Information</h4> -->
			<div class="field">
				<div class="ui checkbox">
					<input name="confirm" type="checkbox">
					<label>Confirm delete</label>
				</div>
			</div>
			<a href="/transactions" class='ui button'>Cancel</a>
			<input type="submit" class="ui red button" value="Delete">
		</form>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		console.log('hi');
		var a = moment('<%=t.occuredAt%>');
		$('#date').text(a.format('DD-MMM-YYYY h:mm a'))
	})

</script>
