<%
var format_number=function(number){
	return FormatService.formatNumber(number,req.query.number_format,req.query.precision);
}
function updateQueryStringParameter(uri, key, value) {
	var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
	var separator = uri.indexOf('?') !== -1 ? "&" : "?";
	if (uri.match(re)) {
	  return uri.replace(re, '$1' + key + "=" + value + '$2');
	}
	else {
	  return uri + separator + key + "=" + value;
	}
  }
%>
<div class='ui container'>
	<div class='ui grid'>
		<!-- <div class='three wide tablet computer only column'></div> -->
		<div class="sixteen wide computer sixteen wide mobile  column">
			<style type="text/css">
			.vis-item .vis-item-content {
				padding: 0.5px !important;
			}
			</style>
				<%if(!timeline.items.length){%>
					<div class="ui compact message">
						<p>No data found</p>
					</div>
				<%}else{%>

					<div id="visualization" class="ui segment"></div>
					
					<script type="text/javascript">

						// create a data set with groups
						var groups = new vis.DataSet(<%-JSON.stringify(timeline.groups)%>);
						console.log(groups)
						var items = new vis.DataSet(<%-JSON.stringify(timeline.items)%>);


						// create visualization
						var container = document.getElementById('visualization');
						var options = {
							groupOrder: 'type'  // groupOrder can be a property name or a sorting function
						};

						var timeline = new vis.Timeline(container);
						timeline.setOptions(options);
						timeline.setGroups(groups);
						timeline.setItems(items);
						timeline.on('click', function (properties) {
							console.log('click', properties);
							$('tr').removeClass('active');
							$('tr[data-d_id='+properties.item.split('_')[0]+']').addClass('active');
							$('html, body').animate({
								scrollTop: $('tr[data-d_id='+properties.item.split('_')[0]+']').offset().top
							}, 2000);
							});
					</script>
				<%}%>	
		</div>
</div>
		<div class="ui grid">
			<div class='five wide computer only column'>
				<h2>Filters
					<% if(req.query.ids){%>
						<div class="ui horizontal blue label">
							<b>ID:  </b> <%= req.query.ids %>
						</div>
					<%}%>
				</h2>
				<form class="ui form segment" action="" method='get'>
					<div class="field">
						<label>Account:</label>
						<div class="ui fluid filter_txn scrolling dropdown basic button">
							<input type="hidden" name="account" value='<%=req.query.account?req.query.account:''%>'>
							<i class="dropdown icon"></i>
							<div class="text">All</div>
							<div class="menu transition hidden" tabindex="-1">
								<div class="item active selected" data-value='all'>All</div>
								<%accounts.forEach(function(a){%>
									<div class="item" data-value='<%= a.id %>'><%= a.name %></div>
								<%})%>
							</div>
						</div>
					</div>
					<div class="field">
						<label>From:</label>
						<input type="date" placeholder="YYYY-MM-DD"  name="date_gte" value="<%=date_gte%>">
					</div>
					<div class="field">
						<label>To:</label>
						<input type="date" placeholder="YYYY-MM-DD" name="date_lte" value="<%=date_lte%>">
					</div>
					<div class="field">
						<label>Results per page:</label>
						<input type="number" placeholder="20"  name="limit" value="<%=limit%>">
					</div>
					<div class="field">
						<label>Description contains:</label>
						<span style="font-size: 0.8em">(<b>empty</b>: to filter blank descriptions)</span>
						<input type="text" name="description" placeholder="ex: house loan" value="<%= req.query.description ? req.query.description: ''%>">
					</div>
		
					<div class='ui orange left aligned button' id='submit_form'>Update filter</div>
					<div class='ui blue right aligned button' id='reset_form'>Reset filter</div>
				</form>
			</div>
			<div class='eleven wide computer sixteen wide tablet sixteen wide mobile column'>
				<div class='ui grid'>
				<div class='eight wide column'>
					<h2>Statements</h2>
				</div>
				<div class="eight wide column right aligned">
					<a href="<%=download_original_statements%>" target="_blank" data-tooltip="Download attachments">
						<i class='large file archive outline icon'></i>
					</a>
				</div>
				</div>
				<table class="ui basic unstackable table" style="display: block;overflow-x:scroll;">
					<thead>
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Doubtful Transaction Events</th>
							<th>Type</th>
							<th>Accounts</th>
							<th>Description</th>
							<th>File name</th>				
							<th>Parsed</th>
						</tr>
					</thead>
					<tbody>
						<%statements.forEach(function(doc){%>
							<tr data-d_id='<%=doc.statement_id%>' class='statement'>
								<td>
									<% if(doc.statement_data && doc.transactions_from_date){ %>
									<%-moment(doc.transactions_from_date).tz('Asia/Kolkata').format('MMM')%></br>
									<span style="font-size: 1.2rem;"><%-moment(doc.transactions_from_date).tz('Asia/Kolkata').format('DD')%></span></br>
									<span style="font-size: 0.75rem;"><%-moment(doc.transactions_from_date).tz('Asia/Kolkata').format('YYYY')%></span>
									</span>
									<%}%>
								</td>
								<td>
									<% if(doc.statement_data && doc.transactions_to_date){ %>
									<%-moment(doc.transactions_to_date).tz('Asia/Kolkata').format('MMM')%></br>
									<span style="font-size: 1.2rem;"><%-moment(doc.transactions_to_date).tz('Asia/Kolkata').format('DD')%></span></br>
									<span style="font-size: 0.75rem;"><%-moment(doc.transactions_to_date).tz('Asia/Kolkata').format('YYYY')%></span>
									</span>
									<%}%>
								</td>
								<td><a href="/org/<%=req.org.id%>/statement/<%=doc.statement_id%>" target="_blank"><%- doc.unresolved_dtes?'<span style="color:red">'+doc.unresolved_dtes+'</span>': '<span style="color:green">None</span>'%><i class="external alternate icon"></i></a>
									
								</td>
								<td><%=doc.statement_type%></td>
								<td>
									<span>
										<a href="/org/<%=req.org.id%>/account/<%=doc.account_id%>"><%=doc.account_name%></a>
									</span><br>
								</td>
								<td>
									<!-- describe the statement -->
									<span class='description'><%-doc.statement_description?doc.statement_description:''%></span>
									<a class='edit' data-id='<%=doc.statement_id%>' href='' style="<%=(!doc.statement_description)?'background:yellow':''%>">edit</a><br>

									<div class='edit_description' data-id='<%=doc.statement_id%>' style='display:none;'>
										
										<div class="ui fluid input">
											<input type="text" name='description' value='<%-doc.statement_description?doc.statement_description:''%>'>
										</div>
										<br>
										<button class="ui teal button submit_edit_desc" data-id='<%=doc.statement_id%>' >save</button>
										<button class="ui red button cancel_edit_desc" data-id='<%=doc.statement_id%>' >cancel</button>
									</div>
								</td>
								<td>
									<%=doc.statement_data ? doc.statement_data.file_name : doc.statement_details && doc.statement_details.original_filename? doc.statement_details.original_filename:'-'  %>
								</td>
								
								<% if(doc.statement_data && doc.statement_data.transactions){ %>
									<td data-tooltip="Statement processed successfully"><i class="icon green checkmark" ></i></td>
								<% }else if(new Date() - new Date(doc.statement_createdAt) < 150000){ %>
									<td data-tooltip="Parsing in progress"><i class="icon spinner"></i></td>
								<% }else { %>
									<td data-tooltip="Unable to Parse the Statement"><i class="icon yellow attention"></i></td>
								<% } %>
							</tr>
						<%})%>
					</tbody>
				</table>
				<div class="ui pagination menu">
					<a class="<%= page==1?'disabled':''%> item" href="<%=page==1?'#':updateQueryStringParameter(req.url, 'page', page-1)%>">
						<i class="icon caret left"></i>
					</a>
					<div class="item">
						<%=page%> / <%=pages%> 
					</div>
					<a class="<%= page==pages?'disabled':''%> item" href="<%=page==pages?'#':updateQueryStringParameter(req.url, 'page', page+1)%>">
						<i class="icon caret right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>

<a class="circular ui icon right floated primary big button" href="/org/<%=req.org.id%>/statement/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new statement" data-position="left center" data-inverted=""><i class="file alternate outline icon"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		$('#submit_form').click(function(){
			console.log('clicked on form submit');
			$('input').each(function(i) {
				var $input = $(this);
				if ($input.val() == '')
					$input.attr('disabled', 'disabled');
			});
			$( "form" ).submit();
		});
		$('#reset_form').click(function(){
			window.location = "/org/"+"<%=req.params.o_id%>"+'/statements';
		});

		$('.dropdown').dropdown();

		$('.extra_options.dropdown').dropdown();
		$('.edit').click(function(e){
			e.preventDefault();
			$(this).hide();
			var doc_id=$(this).attr('data-id');
			console.log('description clicked');
			console.log(doc_id);
			// if(!edit_active)
			$('tr[data-d_id='+doc_id+']').find('span.description').hide();
			$(this).parent().find('.edit_description').show();
			// edit_active=true;
		});
		$('.cancel_edit_desc').click(function(e){
			console.log('cancel button clicked');
			var doc_id=$(this).attr('data-id');
			// edit_active=false;
			$(this).parent().hide();
			$(this).parents('tr[data-d_id='+doc_id+']').find('span.description').show();
			$(this).parents('tr[data-d_id='+doc_id+']').find('.edit').show();
			// $(this).parents().find('.edit[data-id='+doc_id+']').show();
		});
		$('.submit_edit_desc').click(function(e){
			console.log('submit button clicked');
			var doc_id=$(this).parents('.statement').attr('data-d_id');
			console.log(doc_id);
			var description=$('.statement[data-d_id='+doc_id+']').find('input[name=description]').val();
			$('.statement[data-d_id='+doc_id+'] span.description').text(description);
			$('.statement[data-d_id='+doc_id+'] span.description').show();
			// /api/edit_desc
			var button = this;
			$(button).addClass('loading');
			$(button).addClass('disabled');
			$.post("/org/"+"<%=req.params.o_id%>"+"/api/edit_desc", {doc: doc_id,description:description}, function(result,status){
			    console.log('result = '+result);
			    console.log('status = '+status);// this runs only on sucess
			    if(status=='success'){
			        $(button).removeClass('loading');
			        $(button).removeClass('disabled');
					$(button).parent().hide();
					$(button).parents().find('.edit[data-id='+doc_id+']').show();
			    }
			});
		});
	});
</script>