
<div class='ui container'>
	<div class='ui grid'>
		<!-- <div class='three wide tablet computer only column'></div> -->
		<div class='three wide computer sixteen wide mobile  column'>
			<h1>Emails</h1>
			<table class="ui celled unstackable collapsing table" style="display: block;overflow-x:scroll;">
				<thead>
					<tr>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<%emails.forEach(function(e){%>
						<tr data-tid='<%=e.id%>'>
							<td><%=e.id%> - <a href="/org/<%=req.org.id%>/email/<%=e.id%>"><%=e.email%></a></td>
						</tr>
					<%})%>
				</tbody>
			</table>
		</div>
		<!-- <div class='three wide tablet computer only column'></div> -->
	</div>
</div>
<a class="circular ui icon right floated primary big button" href="/org/<%=req.org.id%>/email/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new email" data-position="left center" data-inverted=""><i class="icon mail"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		$('.popup').popup();
	});
</script>
