<div class='ui container'>
	<div class='ui grid'>
		<div class='five wide computer only column'>
			<h2>Filters</h2>
			<form class="ui form segment" action="" method='get'>
				<div class="field">
						<label>Sort by: </label>
						<div class="ui filter_txn fluid dropdown basic button">
							<input type="hidden" name="sort" value="<%=req.query.sort?req.query.sort:'occuredAt DESC' %>">
							<i class="dropdown icon"></i>
							<div class="text">All</div>
							<div class="menu transition hidden" tabindex="-1">
								<div class="item" data-value='occuredAt ASC'>Date ASC</div>
								<div class="item active selected" data-value='occuredAt DESC'>Date DESC</div>
							</div>
						</div>
					</div>

				<div class="field">
					<label>Account:</label>
					<div class="ui fluid filter_txn scrolling dropdown basic button">
						<input type="hidden" name="account" value='<%=req.query.account?req.query.account:''%>'>
						<i class="dropdown icon"></i>
						<div class="text">All</div>
						<div class="menu transition hidden" tabindex="-1">
							<div class="item active selected" data-value='all'>All</div>
							<%accounts.forEach(function(a){%>
								<div class="item" data-value='<%= a.id %>'><%= a.name %></div>
							<%})%>
						</div>
					</div>
				</div>
					 
				<div class="field">
					<label>Category: </label>
					<div class="ui filter_txn fluid dropdown basic button">
						<input type="hidden" name="category" value="<%=req.query.category?req.query.category:'' %>">
						<div class="text">All</div>
						<i class="dropdown icon"></i>
						<div class="fluid menu">
							<%categories.forEach(function(category){%>
								<%- partial('partials/category_dropdown', {category: category}) %>
							<%})%>
						</div>
					</div>
				</div>

				<div class="field">
					<label>Transaction Type: </label>
					<div class="ui filter_txn fluid dropdown basic button">
						<input type="hidden" name="txn_type" value="<%=req.query.txn_type?req.query.txn_type:'' %>">
						<i class="dropdown icon"></i>
						<div class="text">All</div>
						<div class="menu transition hidden" tabindex="-1">
							<div class="item active selected" data-value='all'>All</div>
							<div class="item" data-value='income'>Income</div>
							<div class="item" data-value='expense'>Expense</div>
							<div class="item" data-value='transfer'>Transfer</div>
						</div>
					</div>
				</div>


				<div class="field">
					<label>Description contains:</label>
					<input type="text" name="description" placeholder="ex: house loan" value="<%= req.query.description ? req.query.description: ''%>">
				</div>

				<div class="field">
					<label>Amount Range(INR):</label>
					<div class="two fields">
						<div class="field">
							<input type="number" placeholder="greater than"  name="amount_greater_than" value="<%= req.query.amount_greater_than ? req.query.amount_greater_than: ''%>">
						</div>
						<div class="field">
							<input type="number" placeholder="less than" name="amount_less_than" value="<%= req.query.amount_less_than ? req.query.amount_less_than: ''%>">
						</div>
					</div>
				</div>

				<div class="field">
					<label>Date from:</label>
					<input type="date" placeholder="YYYY-MM-DD"  name="date_from" value="<%= req.query.date_from ? req.query.date_from: ''%>">
				</div>

				<div class="field">
					<label>Date to:</label>
					<input type="date" placeholder="YYYY-MM-DD" name="date_to" value="<%= req.query.date_to ? req.query.date_to: ''%>">
				</div>
				<!-- <div class="field">
					<label>Tags:</label>
					<select class="ui fluid selection dropdown filter_txn" multiple="" name="tags">
						<option value="">Tags</option>
						<%tags.forEach(function(t){%>
							<option value="<%= t.id %>"><%= t.name %></option>
						<%})%>
					</select>
				</div> -->
					<div class='ui orange left aligned button' id='submit_form'>Update filter</div>
					<div class='ui blue right aligned button' id='reset_form'>Reset filter</div>
			</form>
		</div>
		<div class='eleven wide computer sixteen wide tablet sixteen wide mobile column'>
			<h2>Transactions</h2>
			<table class="ui basic unstackable table" style="display: block;overflow-x:scroll;">
				<tbody>
					<%transactions.forEach(function(t){%>
						<tr class='transaction top aligned' data-tid='<%=t.id%>'>
							<td>
								<span class='popup' data-html="<%-moment(t.occuredAt).tz('Asia/Kolkata').format('h:mm a')%>">
									
								<%-moment(t.occuredAt).tz('Asia/Kolkata').format('MMM')%></br>
								<span style="font-size: 1.5rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('DD')%></span></br>
								<span style="font-size: 0.75rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('YYYY')%></span>
								</span>
							</td>
							<td>
								<!-- category  -->
								<span style="opacity: 0.5;">Category:</span>
								<div class="ui category dropdown" style="<%=(t.type=='income_expense'&&!t.category)?'background:yellow':''%>">
									<input type="hidden" name="category" value="<%=t.category%>">
									<div class="text">None</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<%categories.forEach(function(category){%>
											<%- partial('partials/category_dropdown', {category: category}) %>
										<%})%>
									</div>
								</div>
								<!-- &nbsp;&nbsp;&nbsp; <span style="opacity: 0.5">| Tags:</span> -->
								<div class='ui divider' style='margin-top: 0px; margin-bottom: 0px;'></div>
								<!-- description -->
								<span class='description'><%-t.description?t.description:''%></span>
								<a class='edit' data-id='<%=t.id%>' href='' style="<%=(!t.description)?'background:yellow':''%>">edit</a><br>

								<div class='edit_description' data-id='<%=t.id%>' style='display:none;'>
									
									<div class="ui fluid input">
										<input type="text" name='description' value='<%-t.description?t.description:''%>'>
									</div>
									<br>
									<button class="ui teal button submit_edit_desc" data-id='<%=t.id%>' >save</button>
									<button class="ui red button cancel_edit_desc" data-id='<%=t.id%>' >cancel</button>
								</div>
								<span style="opacity: 0.5;">Tags:</span>
								<span class='tags'>
									<%- partial('partials/display_tags', {tags: t.tags}) %>
								</span>
								<i class="add_tags2 link plus icon" style="opacity: 0.5;"></i>
								<div class="ui add_tags_popup popup">
									Add tags to this transaction:
									<button class='ui teal disabled button submit_edit_tags'>update</button>
									<div class='ui tags_dd fluid multiple search selection dropdown'>
										<%
											var tag_names=_.map(t.tags,'id');
											var tags_string=tag_names.join(',');
										%>
										<input name='tags' type='hidden' value='<%=tags_string%>'>
										<i class='dropdown icon'></i>
										<input class='search' autocomplete='off' tabindex='0'><span class='sizer' style=''></span>
										<div class='default text'>Tags</div>
										<div class='menu transition hidden' tabindex='-1'>
											<%tags.forEach(function(tag){%>
												<div class='item' data-value='<%=tag.id%>'><%=tag.name%></div>
											<%})%>
										</div>
									</div>
									<br>
									<!-- <button class='ui red button cancel_edit_tags' data-id='<%=t.id%>' >cancel</button> -->
								</div>
								
								

								
								<br>
							</td>
							<td>
								<%if(t.type=='income_expense'){
									if(t.original_amount<0){%> 
										<span style='opacity: 0.5'>You paid</span><br>
										<b style='color:red' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
									<%}else{%>
										<span style='opacity: 0.5'>You got</span><br>
										<b style='color:#5bc5a2' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%-t.amount_inr%>"><%=t.original_currency%> <%=(t.original_amount)%></b>
									<%}
								}else{%>
									<span style='opacity: 0.5'>You transferred</span><br>
									<b style='' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
								<%}%>
								<a href="#" class='show_details'>details</a>
							</td>
							<td>
								<%if(t.original_amount<0){%> 
									<span style='opacity: 0.5'>from</span><br>
								<%}else{%>
									<span style='opacity: 0.5'>deposited to</span><br>
								<%}%>
								<%=t.account.name%>
							</td>
							<td>
								<%if(t.type=='income_expense'){%> 
									<%if(t.original_amount<0){%> 
										<span style='opacity: 0.5'>to</span><br>
									<%}else{%>
										<span style='opacity: 0.5'>from</span><br>
									<%}%>
									<%=t.third_party%>
								<%}else{%>
									<span style='opacity: 0.5'>to</span><br>
									<%=t.to_account.name%>
								<%}%>
							</td>
							<td>
								<div class="ui basic icon top right pointing extra_options dropdown">
									<i class="angle down icon"></i>
									<div class="menu">
										<a class="disabled item" href='/transaction/<%=t.id%>/edit'><%=t.createdBy=='user'?'manual':'auto'%></a>
										<a class='item add_tags' href=''>Add tags</a>
										<a class="item" href='/transaction/<%=t.id%>/edit'>Edit</a>
										<!-- <a class="item" href='/transaction/<%=t.id%>/convert_to_transfer'>Convert to transfer</a> -->
										<a class="item" href='/transaction/<%=t.id%>/delete'>Delete</a>
									</div>
								</div>
							</td>
						<!-- <td></td>
						<td></td> -->
						</tr>
						<tr class='top aligned' id='details_<%=t.id%>' style='display: none;'>
							<td colspan="6">
								this is the details of this transaction
							</td>
						</tr>
						
					<%})%>
				</tbody>
			</table>
		</div>
	</div>
</div>

<a class="circular ui icon right floated primary big button" href="/transaction/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new transaction" data-position="left center" data-inverted=""><i class="icon add"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		var edit_active=false;
		$('.edit').click(function(e){
			e.preventDefault();
			$(this).hide();
			var t_id=$(this).attr('data-id');
			console.log('description clicked');
			console.log(t_id);
			// if(!edit_active)
			$('tr[data-tid='+t_id+']').find('span.description').hide();
			$(this).parent().find('.edit_description').show();
			// edit_active=true;
		});
		$('.cancel_edit_desc').click(function(e){
			console.log('cancel button clicked');
			var t_id=$(this).attr('data-id');
			// edit_active=false;
			$(this).parent().hide();
			$(this).parents('tr[data-tid='+t_id+']').find('span.description').show();
			$(this).parents('tr[data-tid='+t_id+']').find('.edit').show();
			// $(this).parents().find('.edit[data-id='+t_id+']').show();
		});
		$('.submit_edit_desc').click(function(e){
			console.log('submit button clicked');
			var t_id=$(this).parents('.transaction').attr('data-tid');
			console.log(t_id);
			var description=$('.transaction[data-tid='+t_id+']').find('input[name=description]').val();
			$('.transaction[data-tid='+t_id+'] span.description').text(description);
			$('.transaction[data-tid='+t_id+'] span.description').show();
			// /api/edit_desc
			var button = this;
			$(button).addClass('loading');
			$(button).addClass('disabled');
			$.post("/api/edit_desc", {t: t_id,description:description}, function(result,status){
			    console.log('result = '+result);
			    console.log('status = '+status);// this runs only on sucess
			    if(status=='success'){
			        $(button).removeClass('loading');
			        $(button).removeClass('disabled');
					$(button).parent().hide();
					$(button).parents().find('.edit[data-id='+t_id+']').show();
			    }
			});
		});
		$('.category.dropdown').dropdown({
			onChange:function(value, text, $choice){
				var dd = this;
				$(this).addClass('disabled loading');
				var t_id=$(this).parents('.transaction').attr('data-tid');
				console.log(t_id);
				$.ajax({
					url:"/api/transaction/"+t_id,
					data:{category: value},
					type:'PUT',
					success:function(response){
						console.log('success');
						$(dd).removeClass('disabled').removeClass('loading');
					},
					error:function(xhr, textStatus, errorThrown){
						console.log("An error occured: " + xhr.status + " " + xhr.statusText);
					}
				})
			}
		});
		$('.add_tags').click(function(e){
			e.preventDefault();
			$(this).parents('tr').find('.tags').hide();
			console.log('hi');
			$(this).parents('tr').find('.edit_tags').show();
		})
		$('.filter_txn.dropdown').dropdown({ allowCategorySelection: true });
		$('.extra_options.dropdown').dropdown();
		$('.filter.dropdown').dropdown({
			onChange:function(value, text, $choice){
				var params = {};
				if($('input[name="filter_account"]').val())
					params.account= $('input[name="filter_account"]').val();
				if($('input[name="filter_category"]').val())
				    params.category= $('input[name="filter_category"]').val();
				window.location = '/transactions?'+$.param(params);
			}
		});
		$('.tags_dd.ui.dropdown')
		  .dropdown({
		    allowAdditions: true,
		    onChange:function(value, text, $choice){
				$(this).parents('.add_tags_popup').find('.submit_edit_tags').removeClass('disabled');
			}
		  });
		$('.popup').popup();
		$('.add_tags2').popup({
			on:'click',
			popup: '.add_tags_popup'
		});
		$('.submit_edit_tags').click(function(e){
			$(this).addClass('disabled');
			var t_id=$(this).parents('.transaction').attr('data-tid');
			var tags_string=$(this).parents('.transaction').find('.add_tags_popup').find('input[name=tags]').val();;
			console.log(t_id);
			console.log(tags_string);
			var dd = this;
			$.ajax({
				url:"/api/edit_tags/",
				data:{new_tags: tags_string.split(','),t_id:t_id},
				type:'POST',
				success:function(response){
					console.log('success');
					// alert('updated tags');
					console.log(response);
					// $(dd).removeClass('disabled').removeClass('loading');
					$(dd).parents('.transaction').find('.tags').html(response);
					// $(dd).parents('.transaction').find('span.tags').html('hello');
				},
				error:function(xhr, textStatus, errorThrown){
					console.log("An error occured: " + xhr.status + " " + xhr.statusText);
				}
			})
			// update the ui to include the tags.
			// update details on the backend. 
		})
		$('#submit_form').click(function(){
			console.log('clicked on form submit');
			$('input').each(function(i) {
		        var $input = $(this);
		        if ($input.val() == '')
		            $input.attr('disabled', 'disabled');
		    });
			$( "form" ).submit();
		});
		$('#reset_form').click(function(){
			window.location = '/transactions';
		});
		$('.show_details').click(function(e){
			e.preventDefault();
			// alert('show details clicked');
			console.log('show details clicked');
			var tid=$(this).parents('tr.transaction').attr('data-tid');
			console.log(tid);
			$('#details_'+tid).toggle();
		})
		
	});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js"></script>