<div class='ui container'>
	<div class='ui grid'>
		<!-- <div class='three wide tablet computer only column'></div> -->
		<div class='sixteen wide computer sixteen wide mobile  column'>
			<h1>Your Documents: </h1>
			<table class="ui basic unstackable table" style="display: block;overflow-x:scroll;">
				<thead>
					<tr>
						<th>Id</th>
						<th>Doc type</th>
						<th>Uploaded File</th>
						<th>Description</th>
                        <th>Accounts</th>
						<th>Line Items<br>(processed/parsed)</th>
						<th>Uploaded On</th>
                        <th>Status</th>
					</tr>
				</thead>
				<tbody>
					<%documents.forEach(function(doc){%>
						<tr data-d_id='<%=doc.id%>' class='document'>
							<td><a href="/document/<%=doc.id%>"><%=doc.id%></a></td>
							<td><%=doc.type%></td>
							<td>
								<a href="<%=doc.parsed_data ? doc.parsed_data.media_link_original : '#' %>" target="_blank"><%=doc.parsed_data ? doc.parsed_data.file_name : '-' %></a>
							</td>
							<td>
								<!-- describe the document -->
								<span class='description'><%-doc.description?doc.description:''%></span>
								<a class='edit' data-id='<%=doc.id%>' href='' style="<%=(!doc.description)?'background:yellow':''%>">edit</a><br>

								<div class='edit_description' data-id='<%=doc.id%>' style='display:none;'>
									
									<div class="ui fluid input">
										<input type="text" name='description' value='<%-doc.description?doc.description:''%>'>
									</div>
									<br>
									<button class="ui teal button submit_edit_desc" data-id='<%=doc.id%>' >save</button>
									<button class="ui red button cancel_edit_desc" data-id='<%=doc.id%>' >cancel</button>
								</div>

							</td>
							<td><%=doc.parsed_data ? doc.parsed_data.account_id : '-' %></td>
							<td>
								<%= doc.statement_line_items.length + '/' + (doc.parsed_data? doc.parsed_data.transactions.length: 0) %>
							</td>
							
							<td>
								<span class='popup' data-html="<%-moment(doc.createdAt).tz('Asia/Kolkata').format('h:mm a')%>">
									
								<span style="font-size: 1.05rem;"><%-moment(doc.createdAt).tz('Asia/Kolkata').format('DD MMM, YYYY')%></span></br>
								<!-- <span style="font-size: 1.2rem;"><%-moment(doc.createdAt).tz('Asia/Kolkata').format('DD')%></span></br> -->
								<!-- <span style="font-size: 0.75rem;"><%-moment(doc.createdAt).tz('Asia/Kolkata').format('YYYY')%></span> -->
								</span>
							</td>
							<% if(doc.parsed_data && doc.parsed_data.transactions){ %>
								<% if(doc.statement_line_items.length == doc.parsed_data.transactions.length) {%>
									<td class='single line'><i class="icon green checkmark"></i>Document processed successfully</td>
								<% }else if(doc.statement_line_items.length < doc.parsed_data.transactions.length){ %>
									<td class='single line'><i class="icon grey spinner"></i>Processing line items<br>
								<span style="font-size:0.70rem;">&nbsp;&nbsp;<%= doc.statement_line_items.length %> line items processed out of <%= doc.parsed_data.transactions.length %></span></td>
								<% } %>
							<% }else if(new Date() - new Date(doc.createdAt) < 150000){ %>
								<td class='single line'><i class="icon spinner"></i>Parsing in progress</td>
							<% }else { %>
								<td class='single line'><i class="icon yellow attention"></i>Unable to Parse the Document</td>
							<% } %>
						</tr>
					<%})%>
				</tbody>
			</table>
		</div>
		<!-- <div class='three wide tablet computer only column'></div> -->
	</div>
</div>
<a class="circular ui icon right floated primary big button" href="/document/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new document" data-position="left center" data-inverted=""><i class="file alternate outline icon"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		$('.popup').popup();
		$('.extra_options.dropdown').dropdown();
		$('.edit').click(function(e){
			e.preventDefault();
			$(this).hide();
			var doc_id=$(this).attr('data-id');
			console.log('description clicked');
			console.log(doc_id);
			// if(!edit_active)
			$('tr[data-d_id='+doc_id+']').find('span.description').hide();
			$(this).parent().find('.edit_description').show();
			// edit_active=true;
		});
		$('.cancel_edit_desc').click(function(e){
			console.log('cancel button clicked');
			var doc_id=$(this).attr('data-id');
			// edit_active=false;
			$(this).parent().hide();
			$(this).parents('tr[data-d_id='+doc_id+']').find('span.description').show();
			$(this).parents('tr[data-d_id='+doc_id+']').find('.edit').show();
			// $(this).parents().find('.edit[data-id='+doc_id+']').show();
		});
		$('.submit_edit_desc').click(function(e){
			console.log('submit button clicked');
			var doc_id=$(this).parents('.document').attr('data-d_id');
			console.log(doc_id);
			var description=$('.document[data-d_id='+doc_id+']').find('input[name=description]').val();
			$('.document[data-d_id='+doc_id+'] span.description').text(description);
			$('.document[data-d_id='+doc_id+'] span.description').show();
			// /api/edit_desc
			var button = this;
			$(button).addClass('loading');
			$(button).addClass('disabled');
			$.post("/api/edit_desc", {doc: doc_id,description:description}, function(result,status){
			    console.log('result = '+result);
			    console.log('status = '+status);// this runs only on sucess
			    if(status=='success'){
			        $(button).removeClass('loading');
			        $(button).removeClass('disabled');
					$(button).parent().hide();
					$(button).parents().find('.edit[data-id='+doc_id+']').show();
			    }
			});
		});
	});
</script>