<div class="ui internally celled stackable grid container" id='lpe'>
  <div class="ui three wide fluid column">
    <div class="ui sticky left_menu">
      <b><%= req.org.email %></b>
      <div class="ui vertical fluid menu">
          <a class="link item <%=!req.query.status? 'active':''%>" href="/org/<%=req.org.id%>/parsed_emails?">
            All
          </a>
        <a class="link item <%=req.query.status == 'PARSED'? 'active':''%>" href="/org/<%=req.org.id%>/parsed_emails?status=PARSED">
          Parsed
        </a>
        <a class="link item <%=req.query.status == 'PARSE_FAILED'? 'active':''%>" href="/org/<%=req.org.id%>/parsed_emails?status=PARSE_FAILED">
          Failed
        </a>
        <a class="link item <%=req.query.status == 'JUNK'? 'active':''%>" href="/org/<%=req.org.id%>/parsed_emails?status=JUNK">
          Junk
        </a>
      </div>
    </div>
  </div>
  <div class="ui six wide fluid  column">
    <div class="ui relaxed divided list">
      <%parsed_emails.forEach(function(pe){%>
      <div class="item preview" id=<%=pe.id%>>
        <div class="content">
          <div class="description" style="font-size: 0.92rem;"><i class="mail icon"></i><%= moment(pe.createdAt).fromNow()%><span class="right floated"><%=pe.email%></span></div>
          <a class="header"><%=pe.details.inbound.subject%></a>
          <div class="description"><%-pe.details.inbound['body-plain'].substring(0, 120) + '.....'%></div>
        </div>
      </div>
      <%})%>
    </div>
  </div>
  <div class="ui  seven wide column">
      <%parsed_emails.forEach(function(pe){%>
        <div class="ui detail_view"  style="display:none;" detail-view-id=<%= pe.id %> >
          <%if(pe.status == 'PARSED'){%>
            <div class="ui basic small green label">Parsed</div>
            <div class="ui basic small  icon label">
                <i class='eye icon popup' data-html="<div class='header'>Extracted data</div><div class='content'><pre><%=JSON.stringify(pe.extracted_data,null,'    ')%></pre></div>"> Extracted Data</i>
              </div>
            <%}else if(pe.status == 'PARSE_FAILED'){%>
              <div class="ui  basic small red label">Failed</div>
              <a class="ui  small grey label disabled"><i class="trash alternate outline icon"></i> Mark Junk</a>
              <%} else if(pe.status == 'JUNK'){%>
                <div class="ui basic small grey label">Junk</div>
              <%}%>
            <%if(pe.transaction_event){%>
              <a class="ui  basic small teal icon label" href="/org/<%=req.params.o_id%>/transaction_event/<%=pe.transaction_event.id%>" target="_blank" data-html="<%- partial('popups/transaction_event', {t: pe.transaction_event}) %>" data-variation="very wide">
                <i class="rupee icon popup"> <%=pe.transaction_event.amount_inr%> </i> <i class="external alternate icon"></i>
              </a>
              <%}else if(pe.dte){%>
                <a class="ui  yellow icon label" href="/org/<%=req.org.id%>/dte/<%=pe.dte.id%>" target="_blank">
                  <i class="attention  icon"></i> resolve Duplicate <i class="external alternate icon"></i>
                </a>
              <%}%>
              <a class="ui compact icon label reparse" data-reparse-id="<%=pe.id%>">
                <i class="sync alternate icon"></i> Reparse
              </a>
              
              <iframe srcdoc="<%=pe.details.inbound['body-html']%>" style="position: relative; width: 100%; height:1000px;" frameborder="0"></iframe>
        </div>
        <%})%>
  </div>
</div>
<script>
  $('document').ready(function () {

    $('.reparse').click(function(e){
			console.log('reparse button clicked');
			var pe_id=$(this).attr('data-reparse-id');
			var button = this;
			$(button).addClass('loading');
			$(button).addClass('disabled');
			$.post("/org/"+ <%=req.params.o_id%>+"/parsed_email/"+pe_id + "/retry",function(result,status){
				console.log(result, status)
			}).fail(function(jqXHR, textStatus, errorThrown) {
				alert("Error: "+jqXHR.responseJSON.error);
				$(button).removeClass('loading');
				$(button).removeClass('disabled');
			}).success(function() {
				window.location = updateUrlParameter("<%=req.url%>", "highlight", pe_id)
			});
		});
   
  // show th detail view of first parsed email
  $("#"+ "<%=req.query.highlight?req.query.highlight:_.get(parsed_emails, '[0].id', '')%>").css('background-color', '#E8E8E8');
  $(`[detail-view-id=<%=req.query.highlight ? req.query.highlight : _.get(parsed_emails, '[0].id', '')%>]`).addClass('sticky').show()
  $('.popup').popup();
    $('.ui.sticky.detail_view')
      .sticky()
    $('.ui.sticky.left_menu')
      .sticky()
  });
  
  $(".preview.item").click(function () {
    var pe_id = $(this).attr('id')
    var pe = pes.find(pe => pe.id == pe_id)
    $(".preview.item").css('background-color', '');
    $("#"+pe.id).removeClass('sticky').css('background-color', '#E8E8E8');
    $('.detail_view').hide()
    $(`[detail-view-id=${pe.id}]`).show()
    $('.ui.sticky.detail_view')
      .sticky()
  });
  var pes = <%- JSON.stringify(parsed_emails) %>;
</script>