
<div class='ui container'>
	<div class='ui grid'>
		<!-- <div class='three wide tablet computer only column'></div> -->
		<div class='sixteen wide table eight wide computer sixteen wide mobile  column'>
			<h1>Snapshots</h1>
			<table class="ui celled padded unstackable table" style="display: block;overflow-x:scroll;">
				<thead>
					<tr><th class="single line">Date</th>
					<!-- <th>Time</th> -->
					<th>Account</th>
					<!-- <th>Currency</th> -->
					<th class="right aligned">Balance(INR)</th>
					<th></th>
				</tr></thead>
				<tbody>
					<%snapshots.forEach(function(s){%>
						<tr data-tid='<%=s.id%>'>
							<td class='single line'><span class='popup' data-html="<%-moment(s.takenAt).tz('Asia/Kolkata').format('Do MMM YYYY')%></br><%-moment(s.takenAt).tz('Asia/Kolkata').format('h:mm a')%>"><%-moment(s.takenAt).fromNow()%></span></td>
							<td><%=s.account.name%></td>
							<td class="right aligned"><%=parseFloat(s.balance).toFixed(2)%></td>
							<td>
								<%if(s.createdBy=='user'){%>
									<div class="ui basic icon top right pointing extra_options dropdown">
										<i class="bars icon"></i>
										<div class="menu">
											<a class="item" href='/snapshot/<%=s.id%>/edit'>Edit</a>
											<a class="item" href='/snapshot/<%=s.id%>/delete'>Delete</a>
										</div>
									</div>
								<%}%>
							</td>
						</tr>
					<%})%>
				</tbody>
			</table>
		</div>
		<!-- <div class='three wide tablet computer only column'></div> -->
	</div>
</div>
<a class="circular ui icon right floated primary big button" href="/snapshot/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new snapshot" data-position="left center" data-inverted=""><i class="icon camera"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		$('.popup').popup();
		$('.extra_options.dropdown').dropdown();
	});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/momens.js/2.22.2/momens.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js"></script>