<div class='ui container'>
	<div class='ui grid'>
		<!-- <div class='three wide tablet computer only column'></div> -->
		<div class='ten wide computer sixteen wide mobile  column'>
			<div class='ui segment'>
				<h1>Categories</h1>
				<table class="ui celled unstackable collapsing table" style="display: block;overflow-x:scroll;">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Description</th>
							<th>Parent</th>
							<th class="right aligned">Budget(INR)</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
						<%categories.forEach(function(c){%>
							<tr data-tid='<%=c.id%>'>
								<td><%=c.id%></td>
								<td><%=c.name%></td>
								<td><%=c.description%></td>
								<td><%=c.parent%></td>
								<td class="right aligned"><%=parseFloat(c.budget).toFixed(2)%></td>
								<td><a href="/category/<%=c.id%>/edit">edit</a></td>
							</tr>
						<%})%>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <div class='three wide tablet computer only column'></div> -->
	</div>
</div>
<a class="circular ui icon right floated primary big button" href="/category/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new category" data-position="left center" data-inverted=""><i class="icon block layout"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		$('.popup').popup();
	});
</script>
