<div class='ui container'>
	<div class='ui grid'>
		<!-- <div class='three wide tablet computer only column'></div> -->
		<div class='sixteen wide computer sixteen wide mobile  column'>
			<h1>Your Documents: </h1>
			<table class="ui basic unstackable table" style="display: block;overflow-x:scroll;">
				<thead>
					<tr>
                        <th>Id</th>
                        <th>Statement_date</th>
						<th>File Name</th>
                        <th>Acc_number</th>
                        <th>Acc_holder</th>
                        <th>Uploaded_at</th>
                        <th>Processed_at</th>
                        <th>Original_file</th>
                        <th>Status</th>
					</tr>
				</thead>
				<tbody>
					<%documents.forEach(function(doc){%>
						<tr data-tid='<%=doc.id%>'>
							<td><a href="/document/<%=doc.id%>"><%=doc.id%></a></td>
                            <td>
                                <span style="font-size: 1.1rem;"><%-doc.parsed_data ? moment(doc.parsed_data.statement_date).tz('Asia/Kolkata').format('ll') : '-'%></span>
								</td>
							<td><%=doc.parsed_data ? doc.parsed_data.file_name : '-' %></td>
							<td><%=doc.parsed_data ? doc.parsed_data.account_id : '-' %></td>
                            <td><%=doc.parsed_data ? doc.parsed_data.account_holder : '-'%></td>
                            <td><span style="font-size: 1.1rem;"><%-doc.parsed_data ? moment(doc.parsed_data.uploaded_at).tz('Asia/Kolkata').format('lll') : '-'%></span></td>
                            <td><span style="font-size: 1.1rem;"><%-doc.parsed_data ? moment(doc.parsed_data.processed_at).tz('Asia/Kolkata').format('lll') : '-'%></span></td>
                            <td><a href="<%=doc.parsed_data ? doc.parsed_data.media_link_original : '#' %>" target="_blank"><i class="blue large download icon"></i></a></td>
                            <td><i class="<%=doc.parsed_data ? doc.parsed_data.transactions.length ? 'green large thumbs up icon' :  'red large thumbs down icon' : new Date() - new Date(doc.createdAt) < 60000 ? 'large history icon':  'red large thumbs down icon'%>"></i> </td>
						</tr>
					<%})%>
				</tbody>
			</table>
		</div>
		<!-- <div class='three wide tablet computer only column'></div> -->
	</div>
</div>
<a class="circular ui icon right floated primary big button" href="/document/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new document" data-position="left center" data-inverted=""><i class="file alternate outline icon"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		$('.popup').popup();
		$('.extra_options.dropdown').dropdown();
	});
</script>