<style>
	.ui.grid>.row{
	padding: 0.5rem 0;
	}
</style>
<%
var format_number=function(number){
	return FormatService.formatNumber(number,req.query.number_format,req.query.precision);
}
function updateQueryStringParameter(uri, key, value) {
	var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
	var separator = uri.indexOf('?') !== -1 ? "&" : "?";
	if (uri.match(re)) {
	  return uri.replace(re, '$1' + key + "=" + value + '$2');
	}
	else {
	  return uri + separator + key + "=" + value;
	}
  }
%>
<div class='ui container'>
	<div class='ui grid'>
		<div class='five wide computer only column'>
			<h2>Filters
					<% if(req.query.ids){%>
						<div class="ui horizontal blue label">
							<b>ID:  </b> <%= req.query.ids %>
						</div>
					<%}%>
				</h2>
			<form class="ui form segment" action="" method='get'>
				<div class="fields">
						<div class="field">
							<%# <label>Number format</label> %>
							<div class="ui basic button number_format dropdown">
								<input style="font-size: 0.85rem;" type="hidden" name="number_format" value="<%=req.query.number_format?req.query.number_format:'indian'%>">
								<i class="dropdown icon"></i>
								<div class="default text">Number Format</div>
								<div class="menu">
									<div class="item" data-value="indian"></i>
										Indian style
										<i class="dropdown icon"></i>
										<div class="menu">
											<div class="item" data-value="indian">
												In Indian style
											</div>
											<div class="item" data-value="indian_thousand">
												In Thousands
											</div>
											<div class="item" data-value="indian_lakh">
												In Lakhs
											</div>
											<div class="item" data-value="indian_crore">
												In Crores
											</div>
										</div>	
									</div>
									<div class="item" data-value="us"></i>
										US style
										<i class="dropdown icon"></i>
										<div class="menu">
											<div class="item" data-value="us">
												In US style
											</div>
											<div class="item" data-value="us_thousand">
												In Thousands
											</div>
											<div class="item" data-value="us_million">
												In Millions
											</div>
											<div class="item" data-value="us_billion">
												In Billions
											</div>
										</div>	
									</div>
									<%# <div class="item" data-value="indian"></i>Indian</div> %>
									<%# <div class="item" data-value="us"></i>US</div> %>
									<%# <div class="item" data-value="wallet"></i>Wallet</div>
									<div class="item" data-value="cash"></i>Cash</div>
									<div class="item" data-value="investment"></i>Investment</div> %>
								</div>
								</div>
							</div>
							<div class="field">
								<%# <label>Precision</label> %>
								<div class="ui basic button precision dropdown">
									<input type="hidden" style="font-size: 0.85rem;" name="precision" value="<%=req.query.precision?req.query.precision:'decimal1'%>">
									<i class="dropdown icon"></i>
									<div class="default text">Precision</div>
									<div class="menu">
										<div class="item" data-value="decimal2"></i>2 point decimal</div>
										<div class="item" data-value="decimal1"></i>1 point decimal</div>
										<div class="item" data-value="decimal0"></i>no decimal</div>
									</div>
								</div>
							</div>
						</div>
				<div class="field">
						<label>Sort by: </label>
						<div class="ui filter_txn fluid dropdown basic button">
							<input type="hidden" name="sort" value="<%=req.query.sort?req.query.sort:'occuredAt DESC' %>">
							<i class="dropdown icon"></i>
							<div class="text">All</div>
							<div class="menu transition hidden" tabindex="-1">
								<div class="item" data-value='occuredAt ASC'>Date ASC</div>
								<div class="item active selected" data-value='occuredAt DESC'>Date DESC</div>
							</div>
						</div>
					</div>

				<div class="field">
					<label>Account:</label>
					<div class="ui fluid filter_txn scrolling dropdown basic button">
						<input type="hidden" name="account" value='<%=req.query.account?req.query.account:''%>'>
						<i class="dropdown icon"></i>
						<div class="text">All</div>
						<div class="menu transition hidden" tabindex="-1">
							<div class="item active selected" data-value='all'>All</div>
							<%accounts.forEach(function(a){%>
								<div class="item" data-value='<%= a.id %>'><%= a.name %></div>
							<%})%>
						</div>
					</div>
				</div>
					 
				<div class="field">
					<label>Category: </label>
					<div class="ui filter_txn fluid dropdown basic button">
						<input type="hidden" name="category" value="<%=req.query.category?req.query.category:'' %>">
						<div class="text">All</div>
						<i class="dropdown icon"></i>
						<div class="fluid menu">
							<div class="item" data-value="">All</div>
							<div class="item" data-value="empty">- Empty -</div>
							<%categories.forEach(function(category){%>
								<%- partial('partials/category_dropdown', {category: category}) %>
							<%})%>
						</div>
					</div>
				</div>

				<div class="field">
					<label>Transaction Type: </label>
					<div class="ui filter_txn fluid dropdown basic button">
						<input type="hidden" name="txn_type" value="<%=req.query.txn_type?req.query.txn_type:'' %>">
						<i class="dropdown icon"></i>
						<div class="text">All</div>
						<div class="menu transition hidden" tabindex="-1">
							<div class="item active selected" data-value='all'>All</div>
							<div class="item" data-value='income'>Income</div>
							<div class="item" data-value='expense'>Expense</div>
							<div class="item" data-value='transfer'>Transfer</div>
						</div>
					</div>
				</div>


				<div class="field">
					<label>Description contains:</label>
					<span style="font-size: 0.8em">(<b>empty</b>: to filter blank descriptions)</span>
					<input type="text" name="description" placeholder="ex: house loan" value="<%= req.query.description ? req.query.description: ''%>">
				</div>

				<div class="field">
					<label>Merchant/Third Party contains:</label>
					<input type="text" name="third_party" placeholder="ex: funds transfer" value="<%= req.query.third_party ? req.query.third_party: ''%>">
				</div>

				<div class="field">
					<label>Amount(INR):</label>
					<div class="two fields">
						<div class="field">
							<input type="number" placeholder="greater than"  name="amount_greater_than" value="<%= req.query.amount_greater_than ? req.query.amount_greater_than: ''%>">
						</div>
						<div class="field">
							<input type="number" placeholder="less than" name="amount_less_than" value="<%= req.query.amount_less_than ? req.query.amount_less_than: ''%>">
						</div>
					</div>
				</div>

				<div class="field">
					<label>Date from:</label>
					<input type="date" placeholder="YYYY-MM-DD"  name="date_from" value="<%= req.query.date_from ? req.query.date_from: ''%>">
				</div>

				<div class="field">
					<label>Date to:</label>
					<input type="date" placeholder="YYYY-MM-DD" name="date_to" value="<%= req.query.date_to ? req.query.date_to: ''%>">
				</div>
				<div class="field">
					<label>Extracted from statement: </label>
					<div class="ui filter_txn fluid dropdown basic button">
						<input type="hidden" name="statement" value="<%=req.query.statement?req.query.statement:'' %>">
						<div class="text">All</div>
						<i class="dropdown icon"></i>
						<div class="fluid menu">
							<%statements.forEach(function(doc){%>
								<div class="item" data-value='<%= doc.id %>'><%=doc.parsed_data ? doc.parsed_data.file_name : doc.details && doc.details.original_filename? doc.details.original_filename:'-'%> (<%=doc.type%>)</div>
							<%})%>
						</div>
					</div>
				</div>
				<!-- <div class="field">
					<label>Tags:</label>
					<select class="ui fluid selection dropdown filter_txn" multiple="" name="tags">
						<option value="">Tags</option>
						<%tags.forEach(function(t){%>
							<option value="<%= t.id %>"><%= t.name %></option>
						<%})%>
					</select>
				</div> -->
					<div class='ui orange left aligned button' id='submit_form'>Update filter</div>
					<div class='ui blue right aligned button' id='reset_form'>Reset filter</div>
			</form>
		</div>
		<div class='eleven wide computer sixteen wide tablet sixteen wide mobile column'>
			
			<%
				req.query.download_csv='true';
				var download_path = req.path+'?'+query_string.stringify(req.query);
			%>
			<div class='ui grid'>
				<div class='eight wide column'>
					<h2>Transactions</h2>
				</div>
				<div class='eight wide column right aligned'>
					<!-- <div class='ui basic right aligned compact segment'> -->
						<a href="<%=download_path%>" data-tooltip="Download as csv">
							<i class='large download icon'></i>
						</a>
					<!-- </div> -->
				</div>
			</div>
			<table class="ui basic unstackable table" style="display: block;overflow-x:scroll;">
			<!-- <table class="ui celled structured table" style="display: block;overflow-x:scroll;"> -->
				<tbody>
					<%new_transactions.forEach(function(t){%>
						<%t.tlis.forEach(function(tli,i){%>
							<tr class='transaction top aligned' data-tli-id='<%=tli.id%>'>
								<%if(i==0){%>
									<td rowspan="<%=t.tlis.length+1%>">
										<span class='popup' data-html="<%-moment(tli.occuredAt).tz('Asia/Kolkata').format('h:mm a')%>">
										<%-moment(tli.occuredAt).tz('Asia/Kolkata').format('MMM')%></br>
										<span style="font-size: 1.5rem;"><%-moment(tli.occuredAt).tz('Asia/Kolkata').format('DD')%></span></br>
										<span style="font-size: 0.75rem;"><%-moment(tli.occuredAt).tz('Asia/Kolkata').format('YYYY')%></span>
										</span>
										<!-- <a href="#" class='show_details'>details</a> -->
									</td>
								<%}%>
								<td>
									<!-- category  -->
									<span style="opacity: 0.5;">Category:</span>
									<div class="ui category dropdown" style="<%=(tli.type=='income_expense'&&!tli.category)?'background:yellow':''%>">
										<input type="hidden" name="category" value="<%=tli.category%>">
										<div class="text">None</div>
										<i class="dropdown icon"></i>
										<div class="menu">
											<%categories.forEach(function(category){%>
												<%- partial('partials/category_dropdown', {category: category}) %>
											<%})%>
										</div>
									</div>
									<!-- &nbsp;&nbsp;&nbsp; <span style="opacity: 0.5">| Tags:</span> -->
									<div class='ui divider' style='margin-top: 0px; margin-bottom: 0px;'></div>
									<!-- description -->
									<span class='description'><%-tli.description?tli.description:''%></span>
									<a class='edit' data-id='<%=tli.id%>' href='' style="<%=(!tli.description)?'background:yellow':''%>">edit</a><br>

									<div class='edit_description' data-id='<%=tli.id%>' style='display:none;'>
										<div class="ui fluid input">
											<input type="text" name='description' value='<%-tli.description?tli.description:''%>'>
										</div>
										<br>
										<button class="ui teal button submit_edit_desc" data-id='<%=tli.id%>' >save</button>
										<button class="ui red button cancel_edit_desc" data-id='<%=tli.id%>' >cancel</button>
									</div>
									<span style="opacity: 0.5;">Tags:</span>
									<span class='tags'>
										<%- partial('partials/display_tags', {tags: tli.tags}) %>
									</span>
									<i class="add_tags2 link plus icon" style="opacity: 0.5;"></i>
									<div class="ui add_tags_popup popup">
										Add tags to this transaction:
										<button class='ui teal disabled button submit_edit_tags'>update</button>
										<div class='ui tags_dd fluid multiple search selection dropdown'>
											<%
												var tag_names=_.map(tli.tags,'id');
												var tags_string=tag_names.join(',');
											%>
											<input name='tags' type='hidden' value='<%=tags_string%>'>
											<i class='dropdown icon'></i>
											<input class='search' autocomplete='off' tabindex='0'><span class='sizer' style=''></span>
											<div class='default text'>Tags</div>
											<div class='menu transition hidden' tabindex='-1'>
												<%tags.forEach(function(tag){%>
													<div class='item' data-value='<%=tag.id%>'><%=tag.name%></div>
												<%})%>
											</div>
										</div>
										<br>
										<!-- <button class='ui red button cancel_edit_tags' data-id='<%=t.id%>' >cancel</button> -->
									</div>
									<br>
								</td>
								<td>
									<%if(tli.type=='income_expense'){
										if(tli.original_amount<0){%> 
											<span style='opacity: 0.5'>You paid</span><br>
											<b style='color:red' class="<%-tli.original_currency!='INR'?'popup':''%>" data-html="INR <%=(-tli.amount_inr)%>"><%=tli.original_currency%> <%=(format_number(-tli.original_amount))%></b>
										<%}else{%>
											<span style='opacity: 0.5'>You got</span><br>
											<b style='color:#5bc5a2' class="<%-tli.original_currency!='INR'?'popup':''%>" data-html="INR <%-tli.amount_inr%>"><%=tli.original_currency%> <%=(format_number(tli.original_amount))%></b>
										<%}
									}else{%>
										<span style='opacity: 0.5'>You transferred</span><br>
										<b style='' class="<%-tli.original_currency!='INR'?'popup':''%>" data-html="INR <%=(-tli.amount_inr)%>"><%=tli.original_currency%> <%=format_number((-tli.original_amount))%></b>
									<%}%>
								</td>
								<td>
									<%if(tli.original_amount<0){%> 
										<span style='opacity: 0.5'>from</span><br>
									<%}else{%>
										<span style='opacity: 0.5'>deposited to</span><br>
									<%}%>
									<%=tli.account.name%>
								</td>
								<td>
									<%if(tli.type=='income_expense'){%> 
										<%if(tli.original_amount<0){%> 
											<span style='opacity: 0.5'>to</span><br>
										<%}else{%>
											<span style='opacity: 0.5'>from</span><br>
										<%}%>
										<%=tli.third_party%>
									<%}else{%>
										<span style='opacity: 0.5'>to</span><br>
										<%=tli.to_account.name%>
									<%}%>
								</td>
								<td>
									<div class="ui basic icon top right pointing extra_options dropdown">
										<i class="angle down icon"></i>
										<div class="menu">
											<a class="disabled item" href='/org/<%=req.params.o_id%>/transaction/<%=t.id%>/edit'><%=t.createdBy=='user'?'manual':'auto'%></a>
											<!-- <a class='item add_tags' href=''>Add tags</a> -->
											<a class="item" href='/org/<%=req.params.o_id%>/transaction/<%=t.id%>/edit'>Edit</a>
											<!-- <a class="item" href='/transaction/<%=t.id%>/convert_to_transfer'>Convert to transfer</a> -->
											<a class="item" href='/org/<%=req.params.o_id%>/transaction/<%=t.id%>/delete'>Delete</a>
										</div>
									</div>
								</td>
							<!-- <td></td>
							<td></td> -->
							</tr>
						<%})%>
						<tr>
							<td colspan='5' style='padding:7px;opacity: 0.7;'>
								<a href="#" style='color: black; opacity: 0.7;' class='show_details' data-t-id="<%=t.id%>">details <i class="caret down icon"></i></a>
								<br>
								<span id='details_<%=t.id%>' style='display:none;'>
									<%if(t.parsed_emails.length==0 && t.slis.length==0){%>
										this transactions was created manually<br>
									<%}else{%>
										<%t.parsed_emails.forEach(function(pe){ %>
											<i class='mail icon'></i>extracted from email - <%=pe.email%><br>
										<%}) %>
										<%t.slis.forEach(function(sli){ %>
											<i class='file alternate outline icon'></i>extracted from statement - <a href="/org/<%=req.org.id%>/statement/<%=sli.statement.id%>"><%=sli.statement.id%></a> - line no - <%=sli.pos+1%><br>
										<%}) %>
									<%}%>
									<br>
									<a href="/org/<%=req.org.id%>/transaction/<%=t.id%>">View more details</a>
								</span>
							</td>
						</tr>
					<%})%>
				</tbody>
			</table>
			<!-- </div> -->
			<div class="ui pagination menu">
				<a class="<%= page==1?'disabled':''%> item" href="<%=page==1?'#':updateQueryStringParameter(req.url, 'page', page-1)%>">
					<i class="icon caret left"></i>
				</a>
				<div class="item">
					<%=page%> / <%=pages%> 
				</div>
				<a class="<%= page==pages?'disabled':''%> item" href="<%=page==pages?'#':updateQueryStringParameter(req.url, 'page', page+1)%>">
					<i class="icon caret right"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<a class="circular ui icon right floated primary big button" href="/org/<%=req.org.id%>/transaction/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new transaction" data-position="left center" data-inverted=""><i class="icon add"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		var edit_active=false;
		$('.edit').click(function(e){
			e.preventDefault();
			$(this).hide();
			var tli_id=$(this).attr('data-id');
			console.log('description clicked');
			console.log(tli_id);
			// if(!edit_active)
			$('tr[data-tli-id='+tli_id+']').find('span.description').hide();
			$(this).parent().find('.edit_description').show();
			// edit_active=true;
		});
		$('.cancel_edit_desc').click(function(e){
			console.log('cancel button clicked');
			var tli_id=$(this).attr('data-id');
			// edit_active=false;
			$(this).parent().hide();
			$(this).parents('tr[data-tli-id='+tli_id+']').find('span.description').show();
			$(this).parents('tr[data-tli-id='+tli_id+']').find('.edit').show();
			// $(this).parents().find('.edit[data-id='+t_id+']').show();
		});
		$('.submit_edit_desc').click(function(e){
			console.log('submit button clicked');
			// var tli_id=$(this).parents('.tli').attr('data-tli-id');
			var tli_id=$(this).attr('data-id');
			console.log(tli_id);
			var description=$('tr[data-tli-id='+tli_id+']').find('input[name=description]').val();
			$('tr[data-tli-id='+tli_id+'] span.description').text(description);
			$('tr[data-tli-id='+tli_id+'] span.description').show();
			// /api/edit_desc
			var button = this;
			$(button).addClass('loading');
			$(button).addClass('disabled');
			$.post("/org/"+"<%=req.params.o_id%>"+"/api/edit_desc", {tli: tli_id,description:description}, function(result,status){
				console.log('result = '+result);
				console.log('status = '+status);// this runs only on sucess
				if(status=='success'){
					$(button).removeClass('loading');
					$(button).removeClass('disabled');
					$(button).parent().hide();
					$(button).parents().find('.edit[data-id='+tli_id+']').show();
				}
			});
		});
		$('.category.dropdown').dropdown({
			onChange:function(value, text, $choice){
				var dd = this;
				$(this).addClass('disabled loading');
				var tli_id=$(this).parents('tr').attr('data-tli-id');
				console.log(tli_id);
				$.ajax({
					url:"/org/"+"<%=req.params.o_id%>"+"/tli/"+tli_id,
					data:{category: value},
					type:'PUT',
					success:function(response){
						console.log('success');
						$(dd).removeClass('disabled').removeClass('loading');
					},
					error:function(xhr, textStatus, errorThrown){
						console.log("An error occured: " + xhr.status + " " + xhr.statusText);
					}
				})
			}
		});
		$('.add_tags').click(function(e){
			e.preventDefault();
			$(this).parents('tr').find('.tags').hide();
			console.log('hi');
			$(this).parents('tr').find('.edit_tags').show();
		})
		$('.filter_txn.dropdown').dropdown({ allowCategorySelection: true });
		$('.extra_options.dropdown').dropdown();
		$('.filter.dropdown').dropdown({
			onChange:function(value, text, $choice){
				var params = {};
				if($('input[name="filter_account"]').val())
					params.account= $('input[name="filter_account"]').val();
				if($('input[name="filter_category"]').val())
					params.category= $('input[name="filter_category"]').val();
				window.location = "/org/"+"<%=req.params.o_id%>"+'/transactions?'+$.param(params);
			}
		});
		$('.tags_dd.ui.dropdown')
		  .dropdown({
			allowAdditions: true,
			onChange:function(value, text, $choice){
				console.log('\n\n\n\n\n on change called')
				$(this).parents('.add_tags_popup').find('.submit_edit_tags').removeClass('disabled');
			}
		  });
		$('.popup').popup();
		$('.add_tags2').popup({
			on:'click',
			popup: '.add_tags_popup'
		});
		$('.submit_edit_tags').click(function(e){
			$(this).addClass('disabled');
			console.log('here here');
			var tli_id=$(this).parents('tr').attr('data-tli-id');
			var tags_string=$(this).parents('tr').find('.add_tags_popup').find('input[name=tags]').val();
			console.log(tli_id);
			console.log(tags_string);
			var dd = this;
			$.ajax({
				url:"/org/"+"<%=req.params.o_id%>"+"/api/edit_tags/",
				data:{new_tags: tags_string.split(','),tli_id:tli_id},
				type:'POST',
				success:function(response){
					console.log('success');
					// alert('updated tags');
					console.log(response);
					console.log('response above');
					// $(dd).removeClass('disabled').removeClass('loading');
					$(dd).parents('tr').find('.tags').html(response);
					// $(dd).parents('.transaction').find('span.tags').html('hello');
				},
				error:function(xhr, textStatus, errorThrown){
					console.log("An error occured: " + xhr.status + " " + xhr.statusText);
				}
			})
			// update the ui to include the tags.
			// update details on the backend. 
		})
		$('#submit_form').click(function(){
			console.log('clicked on form submit');
			$('input').each(function(i) {
				var $input = $(this);
				if ($input.val() == '')
					$input.attr('disabled', 'disabled');
			});
			$( "form" ).submit();
		});
		$('#reset_form').click(function(){
			window.location = "/org/"+"<%=req.params.o_id%>"+'/transactions';
		});
		$('.show_details').click(function(e){
			e.preventDefault();
			// alert('show details clicked');
			if($(this).find('i.down').length)
				$(this).find('i.down').removeClass('down').addClass('up');
			else
				$(this).find('i.up').removeClass('up').addClass('down');
			console.log('show details clicked');
			var t_id=$(this).attr('data-t-id');
			$('#details_'+t_id).toggle();
		});

		$('.dropdown.precision').dropdown();
		$('.dropdown.number_format').dropdown();
		
	});
</script>