<div class='ui container'>
	<div class='ui grid'>
		<!-- <div class='one wide column'></div> -->
		<div class='sixteen wide column'>
			<h2>P&L - <%=pnl.name%></h2>
			<!-- <%=pnl.type%> -->
			<form class="ui form " action="" method='get'>
				<div class='fields' style="display:none">
					<input type="text" name="date_from" value="<%=req.query.date_from?req.query.date_from:''%>">
				</div>
				<div class='fields' style="display:none">
					<input type="text" name="date_to" value="<%=req.query.date_to?req.query.date_to:''%>">
				</div>
				<div class="fields">
					<div class="field">
						<%# <label>Number format</label> %>
						<div class="ui basic button dropdown">
							<input type="hidden" name="number_format" value="<%=req.query.number_format%>">
							<i class="dropdown icon"></i>
							<div class="default text">Number Format</div>
							<div class="menu">
								<div class="item" data-value="indian"></i>
									Indian style
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="indian_thousand">
											In Thousands
										</div>
										<div class="item" data-value="indian_lakh">
											In Lakhs
										</div>
										<div class="item" data-value="indian_crore">
											In Crores
										</div>
									</div>	
								</div>
								<div class="item" data-value="indian"></i>
									US style
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="us_thousand">
											In Thousands
										</div>
										<div class="item" data-value="us_million">
											In Millions
										</div>
										<div class="item" data-value="us_billion">
											In Billions
										</div>
									</div>	
								</div>
								<%# <div class="item" data-value="indian"></i>Indian</div> %>
								<%# <div class="item" data-value="us"></i>US</div> %>
								<%# <div class="item" data-value="wallet"></i>Wallet</div>
								<div class="item" data-value="cash"></i>Cash</div>
								<div class="item" data-value="investment"></i>Investment</div> %>
							</div>
						</div>
					</div>
					<div class="field">
						<%# <label>Precision</label> %>
						<div class="ui basic button dropdown">
							<input type="hidden" name="precision" value="<%=req.query.precision%>">
							<i class="dropdown icon"></i>
							<div class="default text">Precision</div>
							<div class="menu">
								<div class="item" data-value="decimal2"></i>2 point decimal</div>
								<div class="item" data-value="decimal1"></i>1 point decimal</div>
								<div class="item" data-value="decimal0"></i>no decimal</div>
							</div>
						</div>
					</div>
					<input type="submit" class="ui basic button" value="Go">
				</div>
			</form>
			<table class="ui celled unstackable collapsing table" id='daily_report' style="display: block;overflow-x:scroll;">
			<!-- <table class="ui celled unstackable collapsing table" style="display: block;overflow-x:scroll;"> -->
				<thead>

					<tr>
						<th></th>
						<%pnl.header.level_1.forEach(function(l1){%>
							<th class='single line' colspan="<%=pnl.header.level_2.length%>">
								<%=l1%>
							</th>
						<%})%>
					</tr>
					<%if(pnl.type=='multiple_pnl_heads'){%>
						<tr>
							<th></th>
							<%pnl.header.level_1.forEach(function(l1){%>
								<%pnl.header.level_2.forEach(function(l2){%>
									<th class='single line'>
										<%=l2%>
									</th>
								<%})%>
							<%})%>
						</tr>
					<%}%>
					
					<!-- <th data-override="time">Time (in mins)</th> -->
					<!-- <th data-override="status">Status (Open / Done)</th> -->
				</thead>
				<tbody>
					<%pnl.body.forEach(function(row_l1){%>
						<tr class="active">
							<td class='single line'>
								<%=row_l1.name%>
							</td>
							<%pnl.header.level_1.forEach(function(l1){%>
								<%pnl.header.level_2.forEach(function(l2){%>
									<td class='single line right aligned'>
										<%=row_l1.data[l1+'__'+l2]?row_l1.data[l1+'__'+l2].toFixed(1):''%>
									</td>
								<%})%>
							<%})%>
						</tr>
						<!-- populating first level children -->
						<%row_l1.children.forEach(function(row_l2){%>
							<tr>
								<td class='single line'>
									&nbsp;&nbsp;&nbsp;<%=row_l2.name%>
								</td>
								<%pnl.header.level_1.forEach(function(l1){%>
									<%pnl.header.level_2.forEach(function(l2){%>
										<td class='single line right aligned'>
											<%=row_l2.data[l1+'__'+l2]?row_l2.data[l1+'__'+l2].toFixed(1):''%>
										</td>
									<%})%>
								<%})%>
							</tr>
							<%row_l2.children.forEach(function(row_l3){%>
								<tr>
									<td class='single line'>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <%=row_l3.name%>
									</td>
									<%pnl.header.level_1.forEach(function(l1){%>
										<%pnl.header.level_2.forEach(function(l2){%>
											<td class='single line right aligned'>
												<%=row_l3.data[l1+'__'+l2]?row_l3.data[l1+'__'+l2].toFixed(1):''%>
											</td>
										<%})%>
									<%})%>
								</tr>
							<%})%>
						<%})%>
						
					<%})%>
				</tbody>				
			</table>		
		</div>
		<div class='three wide column'></div>
		
	</div>
	
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.dropdown').dropdown();
		$('.ui.form').form({
			fields: {
				// name: 'empty',
				// acc_number: 'empty',
				// type: 'empty',
			},
			onSuccess:function(e,fields){
				$(this).addClass('loading');
			},
		});
	})

</script>
