<%
	var dt_status = '';
	if(dt.details && dt.details.status){
		dt_status = dt.details.status;
	}
%>
<div class='ui container'>
	<div class='ui grid'>
		<div class='sixteen wide column'>
			<h3>This doubtful transaction: </h3>
			<!-- <pre><%=JSON.stringify(dt.transaction,null,'  ')%></pre> -->
			<%var t = dt.transaction;%>
			<b>Curation Status: </b>
			<% if(dt_status){ %>
			<td class='single line'><i class="icon checkmark"></i><%=dt_status =='duplicate' ? "Marked As Duplicate" : "Marked As Unique"%></a></td>
			<% }else{ %>
				<td class="single line"><i class="attention icon"></i> Requires Action</td>
			<% } %>
			<table class="ui basic unstackable table" style="display: auto;overflow-x:scroll;">
				<tbody>
					<tr class='transaction top aligned' data-tid='<%=t.id%>'>
						<td>
							<span class='popup' data-html="<%-moment(t.occuredAt).tz('Asia/Kolkata').format('h:mm a')%>">
								
							<%-moment(t.occuredAt).tz('Asia/Kolkata').format('MMM')%></br>
							<span style="font-size: 1.5rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('DD')%></span></br>
							<!-- <span style="font-size: 0.75rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('HH:mm')%></span> -->
							</span>
						</td>
						<td>
							<!-- category  -->
							<span style="opacity: 0.5;">Category:</span>
							<div class="ui category dropdown" >
								<input type="hidden" name="category" value="<%=t.category%>">
								<div class="text">None</div>
								<i class="dropdown icon"></i>
								<div class="menu">
								</div>
							</div>
							<!-- &nbsp;&nbsp;&nbsp; <span style="opacity: 0.5">| Tags:</span> -->
							<div class='ui divider' style='margin-top: 0px; margin-bottom: 0px;'></div>
							<!-- description -->
							<span class='description'><%-t.description?t.description:''%></span>
							

							<div class='edit_description' data-id='<%=t.id%>' style='display:none;'>
								
								<div class="ui fluid input">
									<input type="text" name='description' value='<%-t.description?t.description:''%>'>
								</div>
								<br>
								<button class="ui teal button submit_edit_desc" data-id='<%=t.id%>' >save</button>
								<button class="ui red button cancel_edit_desc" data-id='<%=t.id%>' >cancel</button>
							</div>
							<span style="opacity: 0.5;">Tags:</span>
							<span class='tags'>
								
							</span>
							<i class="add_tags2 link plus icon" style="opacity: 0.5;"></i>
							<div class="ui add_tags_popup popup">
								Add tags to this transaction:
								<button class='ui teal disabled button submit_edit_tags'>update</button>
								<div class='ui tags_dd fluid multiple search selection dropdown'>
									<%
										var tag_names=_.map(t.tags,'id');
										var tags_string=tag_names.join(',');
									%>
									<input name='tags' type='hidden' value='<%=tags_string%>'>
									<i class='dropdown icon'></i>
									<input class='search' autocomplete='off' tabindex='0'><span class='sizer' style=''></span>
									<div class='default text'>Tags</div>
									<div class='menu transition hidden' tabindex='-1'>
										
									</div>
								</div>
								<br>
								<!-- <button class='ui red button cancel_edit_tags' data-id='<%=t.id%>' >cancel</button> -->
							</div>
							
							

							
							<br>
						</td>
						<td>
							<%if(t.type=='income_expense'){
								if(t.original_amount<0){%> 
									<span style='opacity: 0.5'>You paid</span><br>
									<b style='color:red' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
								<%}else{%>
									<span style='opacity: 0.5'>You got</span><br>
									<b style='color:#5bc5a2' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%-t.amount_inr%>"><%=t.original_currency%> <%=(t.original_amount)%></b>
								<%}
							}else{%>
								<span style='opacity: 0.5'>You transferred</span><br>
								<b style='' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
								
							<%}%>
						</td>
						<td>
							<%if(t.original_amount<0){%> 
								<span style='opacity: 0.5'>from</span><br>
							<%}else{%>
								<span style='opacity: 0.5'>deposited to</span><br>
							<%}%>
							<%=t.account.name%> (org - <%=t.account.org%>)
						</td>
						<td>
							<%if(t.type=='income_expense'){%> 
								<%if(t.original_amount<0){%> 
									<span style='opacity: 0.5'>to</span><br>
								<%}else{%>
									<span style='opacity: 0.5'>from</span><br>
								<%}%>
								<%=t.third_party%>
							<%}else{%>
								<span style='opacity: 0.5'>to</span><br>
								<%=t.to_account.name%>
							<%}%>
						</td>
						<td>
							<div class="ui basic icon top right pointing extra_options dropdown">
								<i class="angle down icon"></i>
								<div class="menu">
									<a class="disabled item" href='/transaction/<%=t.id%>/edit'><%=t.createdBy=='user'?'manual':'auto'%></a>
									<a class='item add_tags' href=''>Add tags</a>
									<a class="item" href='/transaction/<%=t.id%>/edit'>Edit</a>
									<!-- <a class="item" href='/transaction/<%=t.id%>/convert_to_transfer'>Convert to transfer</a> -->
									<a class="item" href='/transaction/<%=t.id%>/delete'>Delete</a>
								</div>
							</div>
						</td>
						<td><input type="submit" class="ui button <%=dt_status?'disabled':''%>" value="Doubtful txn is same as this"></td>
						<!-- <td></td>
						<td></td> -->
					</tr>
				</tbody>
			</table>
			
			
		</div>
		<%if(dt_status=='duplicate'){%>
		<%
			var t;
			dt.similar_transactions.forEach(function(st){
				if(st.id==dt.details.related_txn_id)
					t=st;
			})
		%>
		<div class='sixteen wide column'>
			<h3>Is marked as duplicate of:</h3>
			<table class="ui basic unstackable table" style="display: auto;overflow-x:scroll;">
				<tbody>
					<tr class='transaction top aligned' data-tid='<%=t.id%>'>
						<td>
							<span class='popup' data-html="<%-moment(t.occuredAt).tz('Asia/Kolkata').format('h:mm a')%>">
								
							<%-moment(t.occuredAt).tz('Asia/Kolkata').format('MMM')%></br>
							<span style="font-size: 1.5rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('DD')%></span></br>
							<!-- <span style="font-size: 0.75rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('HH:mm')%></span> -->
							</span>
						</td>
						<td>
							<!-- category  -->
							<span style="opacity: 0.5;">Category:</span>
							<div class="ui category dropdown" >
								<input type="hidden" name="category" value="<%=t.category%>">
								<div class="text">None</div>
								<i class="dropdown icon"></i>
								<div class="menu">
								</div>
							</div>
							<!-- &nbsp;&nbsp;&nbsp; <span style="opacity: 0.5">| Tags:</span> -->
							<div class='ui divider' style='margin-top: 0px; margin-bottom: 0px;'></div>
							<!-- description -->
							<span class='description'><%-t.description?t.description:''%></span>
							

							<div class='edit_description' data-id='<%=t.id%>' style='display:none;'>
								
								<div class="ui fluid input">
									<input type="text" name='description' value='<%-t.description?t.description:''%>'>
								</div>
								<br>
								<button class="ui teal button submit_edit_desc" data-id='<%=t.id%>' >save</button>
								<button class="ui red button cancel_edit_desc" data-id='<%=t.id%>' >cancel</button>
							</div>
							<span style="opacity: 0.5;">Tags:</span>
							<span class='tags'>
								
							</span>
							<i class="add_tags2 link plus icon" style="opacity: 0.5;"></i>
							<div class="ui add_tags_popup popup">
								Add tags to this transaction:
								<button class='ui teal disabled button submit_edit_tags'>update</button>
								<div class='ui tags_dd fluid multiple search selection dropdown'>
									<%
										var tag_names=_.map(t.tags,'id');
										var tags_string=tag_names.join(',');
									%>
									<input name='tags' type='hidden' value='<%=tags_string%>'>
									<i class='dropdown icon'></i>
									<input class='search' autocomplete='off' tabindex='0'><span class='sizer' style=''></span>
									<div class='default text'>Tags</div>
									<div class='menu transition hidden' tabindex='-1'>
										
									</div>
								</div>
								<br>
								<!-- <button class='ui red button cancel_edit_tags' data-id='<%=t.id%>' >cancel</button> -->
							</div>
							
							

							
							<br>
						</td>
						<td>
							<%if(t.type=='income_expense'){
								if(t.original_amount<0){%> 
									<span style='opacity: 0.5'>You paid</span><br>
									<b style='color:red' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
								<%}else{%>
									<span style='opacity: 0.5'>You got</span><br>
									<b style='color:#5bc5a2' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%-t.amount_inr%>"><%=t.original_currency%> <%=(t.original_amount)%></b>
								<%}
							}else{%>
								<span style='opacity: 0.5'>You transferred</span><br>
								<b style='' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
								
							<%}%>
						</td>
						<td>
							<%if(t.original_amount<0){%> 
								<span style='opacity: 0.5'>from</span><br>
							<%}else{%>
								<span style='opacity: 0.5'>deposited to</span><br>
							<%}%>
							<%=t.account.name%> (org - <%=t.account.org%>)
						</td>
						<td>
							<%if(t.type=='income_expense'){%> 
								<%if(t.original_amount<0){%> 
									<span style='opacity: 0.5'>to</span><br>
								<%}else{%>
									<span style='opacity: 0.5'>from</span><br>
								<%}%>
								<%=t.third_party%>
							<%}else{%>
								<span style='opacity: 0.5'>to</span><br>
								<%=t.to_account.name%>
							<%}%>
						</td>
						<td>
							<div class="ui basic icon top right pointing extra_options dropdown">
								<i class="angle down icon"></i>
								<div class="menu">
									<a class="disabled item" href='/transaction/<%=t.id%>/edit'><%=t.createdBy=='user'?'manual':'auto'%></a>
									<a class='item add_tags' href=''>Add tags</a>
									<a class="item" href='/transaction/<%=t.id%>/edit'>Edit</a>
									<!-- <a class="item" href='/transaction/<%=t.id%>/convert_to_transfer'>Convert to transfer</a> -->
									<a class="item" href='/transaction/<%=t.id%>/delete'>Delete</a>
								</div>
							</div>
						</td>
						<!-- <td></td>
						<td></td> -->
					</tr>
				</tbody>
			</table>
		</div>
		<%}%>
		<%if(dt_status){%>
			<br>
			<button class='ui button' id='redo_classification'>
				redo this classification
			</button>
			<br>
		<%}%>
	</div>

	<div class='ui grid'>
		<div class='sixteen wide column'>
			<h3>Looks similar to these existing transactions: </h3>
			<table class="ui basic unstackable table" style="display: auto;overflow-x:scroll;">
				<tbody>
					<%dt.similar_transactions.forEach(function(t){%>
						<%if(dt.transaction.account.org==t.account.org){%>
							<tr class='transaction top aligned' data-tid='<%=t.id%>'>
								<td>
									<span class='popup' data-html="<%-moment(t.occuredAt).tz('Asia/Kolkata').format('h:mm a')%>">
										
									<%-moment(t.occuredAt).tz('Asia/Kolkata').format('MMM')%></br>
									<span style="font-size: 1.5rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('DD')%></span></br>
									<!-- <span style="font-size: 0.75rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('HH:mm')%></span> -->
									</span>
								</td>
								<td>
									<!-- category  -->
									<span style="opacity: 0.5;">Category:</span>
									<div class="ui category dropdown" style="<%=(t.type=='income_expense'&&!t.category)?'background:yellow':''%>">
										<input type="hidden" name="category" value="<%=t.category%>">
										<div class="text">None</div>
										<i class="dropdown icon"></i>
										<div class="menu">
										</div>
									</div>
									<!-- &nbsp;&nbsp;&nbsp; <span style="opacity: 0.5">| Tags:</span> -->
									<div class='ui divider' style='margin-top: 0px; margin-bottom: 0px;'></div>
									<!-- description -->
									<span class='description'><%-t.description?t.description:''%></span>
									<a class='edit' data-id='<%=t.id%>' href='' style="<%=(!t.description)?'background:yellow':''%>">edit</a><br>

									<div class='edit_description' data-id='<%=t.id%>' style='display:none;'>
										
										<div class="ui fluid input">
											<input type="text" name='description' value='<%-t.description?t.description:''%>'>
										</div>
										<br>
										<button class="ui teal button submit_edit_desc" data-id='<%=t.id%>' >save</button>
										<button class="ui red button cancel_edit_desc" data-id='<%=t.id%>' >cancel</button>
									</div>
									<span style="opacity: 0.5;">Tags:</span>
									<span class='tags'>
										
									</span>
									<i class="add_tags2 link plus icon" style="opacity: 0.5;"></i>
									<div class="ui add_tags_popup popup">
										Add tags to this transaction:
										<button class='ui teal disabled button submit_edit_tags'>update</button>
										<div class='ui tags_dd fluid multiple search selection dropdown'>
											<%
												var tag_names=_.map(t.tags,'id');
												var tags_string=tag_names.join(',');
											%>
											<input name='tags' type='hidden' value='<%=tags_string%>'>
											<i class='dropdown icon'></i>
											<input class='search' autocomplete='off' tabindex='0'><span class='sizer' style=''></span>
											<div class='default text'>Tags</div>
											<div class='menu transition hidden' tabindex='-1'>
												
											</div>
										</div>
										<br>
										<!-- <button class='ui red button cancel_edit_tags' data-id='<%=t.id%>' >cancel</button> -->
									</div>
									
									

									
									<br>
								</td>
								<td>
									<%if(t.type=='income_expense'){
										if(t.original_amount<0){%> 
											<span style='opacity: 0.5'>You paid</span><br>
											<b style='color:red' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
										<%}else{%>
											<span style='opacity: 0.5'>You got</span><br>
											<b style='color:#5bc5a2' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%-t.amount_inr%>"><%=t.original_currency%> <%=(t.original_amount)%></b>
										<%}
									}else{%>
										<span style='opacity: 0.5'>You transferred</span><br>
										<b style='' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
										
									<%}%>
								</td>
								<td>
									<%if(t.original_amount<0){%> 
										<span style='opacity: 0.5'>from</span><br>
									<%}else{%>
										<span style='opacity: 0.5'>deposited to</span><br>
									<%}%>
									<%=t.account.name%> (org - <%=t.account.org%>)
								</td>
								<td>
									<%if(t.type=='income_expense'){%> 
										<%if(t.original_amount<0){%> 
											<span style='opacity: 0.5'>to</span><br>
										<%}else{%>
											<span style='opacity: 0.5'>from</span><br>
										<%}%>
										<%=t.third_party%>
									<%}else{%>
										<span style='opacity: 0.5'>to</span><br>
										<%=t.to_account.name%>
									<%}%>
								</td>
								<td>
									<div class="ui basic icon top right pointing extra_options dropdown">
										<i class="angle down icon"></i>
										<div class="menu">
											<a class="disabled item" href='/transaction/<%=t.id%>/edit'><%=t.createdBy=='user'?'manual':'auto'%></a>
											<a class='item add_tags' href=''>Add tags</a>
											<a class="item" href='/transaction/<%=t.id%>/edit'>Edit</a>
											<!-- <a class="item" href='/transaction/<%=t.id%>/convert_to_transfer'>Convert to transfer</a> -->
											<a class="item" href='/transaction/<%=t.id%>/delete'>Delete</a>
										</div>
									</div>
								</td>
								<td>
									<form class="ui form " action="/org/<%=req.params.o_id%>/dt/<%=dt.id%>/mark_as_duplicate_of/<%=t.id%>" method='post'>
										<input type="submit" class="ui button <%=dt_status?'disabled':''%>" value="Doubtful txn is same as this">
									</form>
								</td>
								<!-- <td></td>
								<td></td> -->
							</tr>
						<%}%>
					<%})%>
				</tbody>
			</table>
		</div>
		
		<div class='sixteen wide column'>
			<form class="ui form " action="/org/<%=req.params.o_id%>/dt/<%=dt.id%>/mark_as_unique" method='post'>
				<input type="submit" class="ui button <%=dt_status?'disabled':''%>" value="Doubtful txn is unique">
			</form>
		</div>
		<!-- <%dt.similar_transactions.forEach(function(st){%>
			<div class='eight wide column'>
				<pre><%=JSON.stringify(st,null,'  ')%></pre>
			</div>
			<div class='eight wide column'>
				<button class='ui button'>Doubtful txn is same as this</button>
			</div>
			<div class='sixteen wide column'>
				<div class='ui divider'></div>
			</div>
		<%})%> -->
		<!-- <button class='ui button'>Doubtful txn is unique</button> -->
	</div>
	
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.popup').popup();
		$('#redo_classification').click(function(){
			$('.button.disabled').removeClass('disabled');
			$(this).addClass('disabled')
		})
	})
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js"></script>