<%
	var tzoffset = (new Date()).getTimezoneOffset() * 60000;
%>
<div class='ui container'>
	<div class='ui grid'>
		<!-- <div class='three wide tablet computer only column'></div> -->
		<div class='sixteen wide table sixteen wide computer sixteen wide mobile  column'>
			<div class='ui segment'>
				<h1>Transactions</h1>
				<table class="ui celled padded table">
					<thead>
						<tr><th class="single line">Date</th>
						<!-- <th>Time</th> -->
						<th>Description</th>
						<!-- <th>Currency</th> -->
						<th>Amount</th>
						<th>Amount(INR)</th>
						<th>Paid whom</th>
						<th>From account</th>
						<th>Category</th>
					</tr></thead>
					<tbody>
						<%transactions.forEach(function(t){%>
							<tr>
								<%
									var occuredAt=new Date(t.occuredAt - tzoffset).toISOString().slice(0, -1);
									var occuredAt_date=occuredAt.substring(0,10);
									var occuredAt_time=occuredAt.substring(11,16);
								%>
								<td><%=occuredAt_date%> <%=occuredAt_time%></td>
								<!-- <td><%=t.occuredAt%></td> -->
								<td data-id='<%=t.id%>'>
									<span class='description'><%-t.description?t.description:''%></span>
									<a class='edit' data-id='<%=t.id%>' href=''>edit</a>
									<div class='edit_description' data-id='<%=t.id%>' style='display:none;'>
										
										<div class="ui fluid input">
											<input type="text" name='description' value='<%-t.description?t.description:''%>'>
										</div>
										<br>
										<button class="ui teal button submit_edit_desc" data-id='<%=t.id%>' >save</button>
										<button class="ui red button cancel_edit_desc" data-id='<%=t.id%>' >cancel</button>
									</div>
								</td>
								<!-- <td></td> -->
								<td><%=t.original_currency%> <%=t.original_amount%></td>
								<td class="right aligned"><%=parseFloat(t.amount_inr).toFixed(2)%></td>
								<td><%=t.third_party%></td>
								<td><%=t.account.name%></td>
								<td><%=t.category%></td>
							</tr>
						<%})%>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <div class='three wide tablet computer only column'></div> -->
	</div>
</div>
<a class="circular ui icon right floated primary big button" href="/transaction/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new transaction" data-position="left center" data-inverted=""><i class="icon add"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		var edit_active=false;
		$('.edit').click(function(e){
			e.preventDefault();
			$(this).hide();
			var t_id=$(this).attr('data-id');
			console.log('description clicked');
			console.log(t_id);
			// if(!edit_active)
			$('td[data-id='+t_id+'] span.description').hide();
			$(this).parent().find('.edit_description').show();
			// edit_active=true;
		});
		$('.cancel_edit_desc').click(function(e){
			console.log('cancel button clicked');
			var t_id=$(this).attr('data-id');
			// edit_active=false;
			$(this).parent().hide();
			$(this).parents().find('.edit[data-id='+t_id+']').show();
		});
		$('.submit_edit_desc').click(function(e){
			console.log('submit button clicked');
			var t_id=$(this).attr('data-id');
			console.log(t_id);
			var description=$('td[data-id='+t_id+']').find('input[name=description]').val();
			$('td[data-id='+t_id+'] span.description').text(description);
			$('td[data-id='+t_id+'] span.description').show();
			// /api/edit_desc
			var button = this;
			$(button).addClass('loading');
			$(button).addClass('disabled');
			$.post("/api/edit_desc", {t: t_id,description:description}, function(result,status){
			    console.log('result = '+result);
			    console.log('status = '+status);// this runs only on sucess
			    if(status=='success'){
			        $(button).removeClass('loading');
			        $(button).removeClass('disabled');
					$(button).parent().hide();
					$(button).parents().find('.edit[data-id='+t_id+']').show();
			    }
			});
		})
	});
</script>