<style>
	.statistic>.label {
		font-size: 0.8em !important;
	}
</style>
<% var date_to='2019-01-10';%>
<% var date_from='2019-01-01';%>
<%var account=category;%>
<div class='ui container'>
	<div class='ui grid'>
		<div class='sixteen wide column'>
			<h1><%=category.name%></h1>
			<a href="/category/<%=category.id%>/edit">edit</a><br/>
			<h3>Details:</h3>
			<b>Description:</b> <%=category.description%><br/>
			<b>Budget:</b> INR <%=category.budget%><br/>
			<%if(category.parent){%>
				<b>Parent:</b> <a href="/category/<%=category.parent.id%>"><%=category.parent.name%></a><br/>
			<%}%>
			<b>Type:</b> <%=category.type%><br/>
			<!-- <b>Has data from:</b> 25th June  -->
			<h3>Current state:</h3>
			<div class="ui tiny statistics">
				<!-- <div class="statistic">
					<div class="">
						Balance
					</div>
					<div class="value">
						<%if(account.details && account.details.last_snapshot){%>
							<div class="description popup" data-content='Balance in the account as per last snapshot - <%=GeneralService.timeAgo(account.updatedAt)%>'><%=account.details.last_snapshot.balance%></div>
						<%}else{%>
							<div class="description popup" data-content='Balance in account is the balance in the last known snapshot taken of the account. This account does not seem to have a snapshot. Create a snapshot to show balance here '>Balance unknown</div>
						<%}%>
					</div>
					<div class="">
						<%if(account.details && account.details.last_snapshot){%>
							<div> <%=GeneralService.timeAgo(account.updatedAt)%> ago</div>
						<%}%>
					</div>
				</div> -->
				<div class="statistic">
					<div class="">
						Budget
					</div>
					<div class="value">
						<%=category.budget%>
					</div>
					
				</div>
				<a class="statistic" href='/transactions?category=<%=category.id%>&txn_type=income'>
					<div class="">
						Total income
					</div>
					<div class="value">
						22,000
					</div>
					
				</a>
				<a class="statistic" href='/transactions?category=<%=account.id%>&txn_type=expense'>
					<div class="">
						Total expense
					</div>
					<div class="value">
						22,000
					</div>
					
				</a>
			</div>
			<!-- <b>Income and Expense</b> -->			
		</div>
		
		<div class='ui row'>
			<div class='sixteen wide column'>
				<h3 class="ui header">
					<!-- <i class="trophy icon"></i> -->
					<div class="content">
						<div class="ui inline adjust_time_span dropdown">
							<div class="text">This Month</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="header">Adjust time span</div>
								<!-- <div class="active item" data-text="today">Today</div> -->
								<div class="item" data-text="This Week">This Week</div>
								<div class="active item" data-text="This Month">This Month</div>
								<div class="item" data-text="This Year">This Year</div>
								<div class="item" data-text="This Financial Year">This Financial Year</div>
								<div class="item" data-text="During time period">This Financial Year</div>
							</div>
						</div>
					</div>
				</h3>
				<div class="ui tiny statistics">
					
					<a class="statistic" href='/transactions?category=<%=category.id%>&txn_type=income&date_from=<%=date_from%>&date_to=<%=date_to%>'>
						<div class="">
							Income
						</div>
						<div class="value">
							22,000
						</div>
						
					</a>
					<a class="statistic" href='/transactions?category=<%=category.id%>&txn_type=expense&date_from=<%=date_from%>&date_to=<%=date_to%>'>
						<div class="">
							Expense
						</div>
						<div class="value">
							22,000
						</div>
						
					</a>
				</div>
				<!-- <h3>During a time period:</h3> -->
			</div>
		</div>
		<div class='ui row'>
			<div class='eight wide column'>
				<!-- <b>Income and Expense</b> -->
				<h4>Income Expense</h4>
				<iframe
				    src="<%=metabase.income_expense%>"
				    frameborder="0"
				    width="100%"
				    height="200"
				    allowtransparency
				></iframe>
			</div>
			
		</div>
		<%if(children_categories.length){%>
			<div class='ui row'>
				<div class='five wide column'>
					<!-- <b>Income and Expense</b> -->
					<h4>Expense per sub category</h4>
					<iframe
					    src="<%=metabase.sub_categories_expense%>"
					    frameborder="0"
					    width="100%"
					    height="300"
					    allowtransparency
					></iframe>
				</div>
				<div class='five wide column'>
					<!-- <b>Income and Expense</b> -->
					<h4>Income per sub category</h4>
					<iframe
					    src="<%=metabase.sub_categories_income%>"
					    frameborder="0"
					    width="100%"
					    height="300"
					    allowtransparency
					></iframe>
				</div>
			</div>
		<%}%>
	</div>

	
</div>
<a class="circular ui icon right floated primary big button" href="/account/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new account" data-position="left center" data-inverted=""><i class="icon book"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		$('.popup').popup();
		$('.adjust_time_span.dropdown').dropdown();
	});
</script>