<div class='ui container'>
	<div class="ui breadcrumb compact basic segment">
		<a class="section" href="/org/<%=req.org.id%>/statements">Statements</a>
		<i class="right angle icon divider"></i>
		<div class="active section">view Statement</div>
	</div>
	<% if(doc.extracted_data){%>
	<div class= 'ui grid'>
		<div class='sixteen wide column'>
			<b>id:</b><%=doc.id%><br>
			<b>File name:</b><%=doc.extracted_data.file_name%><br>
			<b>Original File:</b><a href="<%=doc.extracted_data.media_link_original%>" target="_blank"><i class="blue large download icon"></i></a><br>
			<b>Number of transactions processed:</b><%=doc.extracted_data.transactions.length%><br>
			<b>Possible duplicates:</b><%=doubtful_transaction_events.length%><br>
			<b>Parser Used:</b> <%=doc.parser_used%><br>
			<b>Doc type:</b> <%=doc.type%><br>
		</div>
		<div class='sixteen wide column'>
			<h4><%=unresolved_dtes.length%> items needs your attention </h4>
			
			<div class="ui tabular menu">
				<a class="item active" data-tab="first">SLI</a>
				<a class="item" data-tab="second">Transactions</a>
				<a class="item" data-tab="third">Original File</a>
			</div>
			<div class="ui tab active" data-tab="first">
				<!-- icici bank statements && HDFC bank statement-->
				<%if(doc.parser_used=='sebtifdmvape' || doc.parser_used=='jrvqwmfuhapd'){%> 
					<table class="ui basic fluid unstackable table" style="display: block;overflow-x:scroll;">
						<thead>
							<tr>
								<th>row</th>
								<th>date</th>
								<th>paid_whom</th>
								<th>credit</th>
								<th>debit</th>
								<th>Balance</th>
								<th>account no</th>
								<th>Similar transactions</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<%slis.forEach(function(sli){%>
								<% 
									var t_created_flag=false;
									if(sli.transaction_event)
										t_created_flag=true;
									var dte_status = '';
									if(sli.dte && sli.dte.details && sli.dte.details.status){
										dt_status = sli.dte.details.status;
									}
								%>	
								<tr data-tid='<%=sli.id%>' <%if(!t_created_flag){%>class="warning"<%}%> <%if(dte_status){%>class="positive"<%}%> >
									<td><%=sli.pos+1%></td>
										<td class='single line'><%=sli.extracted_data.date%></td>
										<td class=''><%=sli.extracted_data.paid_whom%></td>
										<td class='single line'><%=sli.extracted_data.credit%></td>
										<td class='single line'><%=sli.extracted_data.debit%></td>
										<td class='single line'><%=sli.extracted_data.balance%></td>
										<td class='single line'><%=sli.extracted_data.acc_no%></td>
									<%if(sli.dte){%>
										<td class='single line'><a target='_blank' href='/org/<%=req.org.id%>/dte/<%=sli.dte.id%>'><%=sli.dte.similar_transaction_events.length%></a></td>
										<% if(dte_status){ %>
										<td class='single line'><i class="icon checkmark"></i><%=dte_status =='duplicate' ? "Marked As Duplicate" : "Marked As Unique"%></a></td>
										<% }else{ %>
											<td class="single line"><i class="attention icon"></i> Requires Action</td>
										<% } %>
									<%}else{%>
										<td></td>
										<td></td>
									<%}%>
								</tr>
								<!-- <%if(!t_created_flag){%>
									<tr style="background-color:yellow;" >
										additional data
										<td><%=sli.pos+1%></td>
									</tr>
								<%}%> -->
							<%})%>
						</tbody>
					</table>
				<%}else if(doc.parser_used=='bzqxicqhpsrk' || doc.parser_used=='kelnksvuxwcv' || doc.parser_used=='qyflunkxpizn'){%>
					<!-- HDFC credit card && YES bank credit card && HSBC credit card-->
					<table class="ui basic fluid unstackable table" style="display: block;overflow-x:scroll;">
						<thead>
							<tr>
								<th>row</th>
								<th>date</th>
								<th>details</th>
								<th>amount</th>
								<th>dr_cr</th>
								<th>Similar transactions</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<%slis.forEach(function(sli){%>
								<% 
									var t_created_flag=false;
									if(sli.transaction_event)
										t_created_flag=true;
									var dte_status = '';
									if(sli.dte && sli.dte.details && sli.dte.details.status){
										dte_status = sli.dte.details.status;
									}
								%>	
								<tr data-tid='<%=sli.id%>' <%if(!t_created_flag){%>class="warning"<%}%> <%if(dte_status){%>class="positive"<%}%> >
									<td><%=sli.pos+1%></td>
										<td class='single line'><%=sli.extracted_data.date%></td>
										<td class=''><%=sli.extracted_data.details%></td>
										<td class='single line' style='font-color:red;'><%=sli.extracted_data.amount%></td>
										<td class='single line'><%=sli.extracted_data.dr_cr%></td>
									<%if(sli.dte){%>
										<td class='single line'><a target='_blank' href='/org/<%=req.org.id%>/dte/<%=sli.dte.id%>'><%=sli.dte.similar_transaction_events.length%></a></td>
										<% if(dte_status){ %>
										<td class='single line'><i class="icon checkmark"></i><%=dte_status =='duplicate' ? "Marked As Duplicate" : "Marked As Unique"%></a></td>
										<% }else{ %>
											<td class="single line"><i class="attention icon"></i> Requires Action</td>
										<% } %>
									<%}else{%>
										<td></td>
										<td></td>
									<%}%>
								</tr>
								<!-- <%if(!t_created_flag){%>
									<tr style="background-color:yellow;" >
										additional data
										<td><%=sli.pos+1%></td>
									</tr>
								<%}%> -->
							<%})%>
						</tbody>
					</table>
				<%}else if(doc.parser_used=='cyfaymeukchi'){%>
					<!-- HDFC credit card && YES bank credit card && HSBC credit card-->
					<table class="ui basic fluid unstackable table" style="display: block;overflow-x:scroll;">
						<thead>
							<tr>
								<th>row</th>
								<th>date</th>
								<th>details</th>
								<th>original currency</th>
								<th>original amount</th>
								<th>amount_inr</th>
								<th>dr_cr</th>
								<th>Similar transactions</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<%slis.forEach(function(sli){%>
								<% 
									var t_created_flag=false;
									if(sli.transaction_event)
										t_created_flag=true;
									var dte_status = '';
									if(sli.dte && sli.dte.details && sli.dte.details.status){
										dte_status = sli.dte.details.status;
									}
								%>	
								<tr data-tid='<%=sli.id%>' <%if(!t_created_flag){%>class="warning"<%}%> <%if(dte_status){%>class="positive"<%}%> >
									<td><%=sli.pos+1%></td>
										<td class='single line'><%=sli.extracted_data.date%></td>
										<td class=''><%=sli.extracted_data.details%></td>
										<td class='single line'><%=sli.extracted_data.currency%></td>
										<td class='single line'><%=sli.extracted_data.original_amount%></td>
										<td class='single line' style='font-color:red;'><%=sli.extracted_data.amount_inr%></td>
										<td class='single line'><%=sli.extracted_data.dr_cr%></td>
									<%if(sli.dte){%>
										<td class='single line'><a target='_blank' href='/org/<%=req.org.id%>/dte/<%=sli.dte.id%>'><%=sli.dte.similar_transaction_events.length%></a></td>
										<% if(dte_status){ %>
										<td class='single line'><i class="icon checkmark"></i><%=dte_status =='duplicate' ? "Marked As Duplicate" : "Marked As Unique"%></a></td>
										<% }else{ %>
											<td class="single line"><i class="attention icon"></i> Requires Action</td>
										<% } %>
									<%}else{%>
										<td></td>
										<td></td>
									<%}%>
								</tr>
								<!-- <%if(!t_created_flag){%>
									<tr style="background-color:yellow;" >
										additional data
										<td><%=sli.pos+1%></td>
									</tr>
								<%}%> -->
							<%})%>
						</tbody>
					</table>
				<%}else{%>
					Oops we forgot to write the display template for this. 
				<%}%>
			</div>
			<div class="ui tab" data-tab="second">
				Your transactions associated with this parsed statement
				<table class="ui basic unstackable table" style="display: block;overflow-x:scroll;">
					<tbody>
						<%slis.forEach(function(sli){%>
							<% 
								var t_created_flag=false;
								var t;
								if(sli.transaction_event){
									t_created_flag=true;
									t=sli.transaction_event;
									t.original_amount = t.original_amount.toFixed(2)
								}
								var dte_status = '';
								if(sli.dte && sli.dte.details && sli.dte.details.status){
									dte_status = sli.dte.details.status;
								}
							%>
							<%if(t){%>
							<tr class='transaction top aligned' data-tid='<%=t.id%>'>
								<td>
									<span class='popup' data-html="<%-moment(t.occuredAt).tz('Asia/Kolkata').format('h:mm a')%>">
										
									<%-moment(t.occuredAt).tz('Asia/Kolkata').format('MMM')%></br>
									<span style="font-size: 1.5rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('DD')%></span></br>
									<span style="font-size: 0.75rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('YYYY')%></span>
									</span>
								</td>
								<td>
									<%if(t.type=='income_expense'){
										if(t.original_amount<0){%> 
											<span style='opacity: 0.5'>You paid</span><br>
											<b style='color:red' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
										<%}else{%>
											<span style='opacity: 0.5'>You got</span><br>
											<b style='color:#5bc5a2' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%-t.amount_inr%>"><%=t.original_currency%> <%=(t.original_amount)%></b>
										<%}
									}else{%>
										<span style='opacity: 0.5'>You transferred</span><br>
										<b style='' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
										
									<%}%>
								</td>
								<td>
									<%if(t.original_amount<0){%> 
										<span style='opacity: 0.5'>from</span><br>
									<%}else{%>
										<span style='opacity: 0.5'>deposited to</span><br>
									<%}%>
									<%=t.account.name%>
								</td>
								<td>
									<%if(t.type=='income_expense'){%> 
										<%if(t.original_amount<0){%> 
											<span style='opacity: 0.5'>to</span><br>
										<%}else{%>
											<span style='opacity: 0.5'>from</span><br>
										<%}%>
										<%=t.third_party%>
									<%}%>
								</td>
								<td>
									<div class="ui basic icon top right pointing extra_options dropdown">
										<i class="angle down icon"></i>
										<div class="menu">
											<a class="disabled item" href='/transaction_event/<%=t.id%>/edit'><%=t.createdBy=='user'?'manual':'auto'%></a>
											<a class='item add_tags' href=''>Add tags</a>
											<a class="item" href='/transaction_event/<%=t.id%>/edit'>Edit</a>
											<!-- <a class="item" href='/transaction/<%=t.id%>/convert_to_transfer'>Convert to transfer</a> -->
											<a class="item" href='/transaction_event/<%=t.id%>/delete'>Delete</a>
										</div>
									</div>
								</td>
								<!-- <td></td>
								<td></td> -->
							</tr>
							<%}%>
						<%})%>
					</tbody>
				</table>
			</div>
			<div class="ui tab" data-tab="third">
				<object data="/org/<%=req.org.id%>/statement/<%=doc.id%>/download" type="application/pdf" width="100%" height="500px">
					alt : <a href="/org/<%=req.org.id%>/statement/<%=doc.id%>/download"><%=doc.extracted_data.file_name%></a>
				</object>
			</div>
		</div>
		

	</div>
	<%} else if(new Date() - new Date(doc.createdAt) < 300000){ %>
		<div class='ui message'>
			<div class="ui header"><i class="icon spinner"></i>Parsing in progress</div>
			<p>Check back in a minute</p>
		</div>
	<% } else{ %>
	<div class="ui negative message">Not able to parse any line items</div>
	<% } %>
	
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.tabular.menu .item').tab();
	});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js"></script>