<div class='ui container'>
	<% if(doc.parsed_data){%>
	<div class= 'ui grid'>
		<div class='sixteen wide column'>
			<b>id:</b><%=doc.id%><br>
			<b>File name:</b><%=doc.parsed_data.file_name%><br>
			<b>Original File:</b><a href="<%=doc.parsed_data.media_link_original%>" target="_blank"><i class="blue large download icon"></i></a><br>
			<b>Number of transactions processed:</b><%=doc.parsed_data.transactions.length%><br>
			<b>Possible duplicates:</b><%=doubtful_transactions.length%><br>
			<b>Parser Used:</b> <%=doc.parser_used%><br>
		</div>
		<div class='sixteen wide column'>
			<div class="ui tabular menu">
				<a class="item active" data-tab="first">SLI</a>
				<a class="item" data-tab="second">Transactions</a>
				<a class="item" data-tab="third">Earlier stuff</a>
				<a class="item" data-tab="fourth">Original File</a>
			</div>
			<div class="ui tab active" data-tab="first">
				<!-- icici bank statements && HDFC bank statement-->
				<%if(doc.parser_used=='sebtifdmvape' || doc.parser_used=='jrvqwmfuhapd'){%> 
					<table class="ui basic fluid unstackable table" style="display: block;overflow-x:scroll;">
						<thead>
							<tr>
								<th>row</th>
								<th>date</th>
								<th>paid_whom</th>
								<th>credit</th>
								<th>debit</th>
								<th>Balance</th>
								<th>account no</th>
								<th>Similar transactions</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<%slis.forEach(function(sli){%>
								<% 
									var t_created_flag=false;
									if(sli.transaction)
										t_created_flag=true;
									var dt_status = '';
									if(sli.dt && sli.dt.details && sli.dt.details.status){
										dt_status = sli.dt.details.status;
									}
								%>	
								<tr data-tid='<%=sli.id%>' <%if(!t_created_flag){%>class="warning"<%}%> <%if(dt_status){%>class="positive"<%}%> >
									<td><%=sli.pos+1%></td>
										<td class='single line'><%=sli.extracted_data.date%></td>
										<td class=''><%=sli.extracted_data.paid_whom%></td>
										<td class='single line'><%=sli.extracted_data.credit%></td>
										<td class='single line'><%=sli.extracted_data.debit%></td>
										<td class='single line'><%=sli.extracted_data.balance%></td>
										<td class='single line'><%=sli.extracted_data.acc_no%></td>
									<%if(sli.dt){%>
										<td class='single line'><a target='_blank' href='/dt/<%=sli.dt.id%>'><%=sli.dt.similar_transactions.length%></a></td>
										<% if(dt_status){ %>
										<td class='single line'><i class="icon checkmark"></i><%=dt_status =='duplicate' ? "Marked As Duplicate" : "Marked As Unique"%></a></td>
										<% }else{ %>
											<td class="single line"><i class="attention icon"></i> Requires Action</td>
										<% } %>
									<%}else{%>
										<td></td>
										<td></td>
									<%}%>
								</tr>
								<!-- <%if(!t_created_flag){%>
									<tr style="background-color:yellow;" >
										additional data
										<td><%=sli.pos+1%></td>
									</tr>
								<%}%> -->
							<%})%>
						</tbody>
					</table>
				<%}else if(doc.parser_used=='jrvqwmfuhapdsdf'){%>
					<!--  -->
					
				<%}else{%>
					Oops we forgot to write the display template for this. 
				<%}%>
			</div>
			<div class="ui tab" data-tab="second">
				Your transactions associated with this parsed document
				<table class="ui basic unstackable table" style="display: block;overflow-x:scroll;">
					<tbody>
						<%slis.forEach(function(sli){%>
							<% 
								var t_created_flag=false;
								var t;
								if(sli.transaction){
									t_created_flag=true;
									t=sli.transaction;
								}
								var dt_status = '';
								if(sli.dt && sli.dt.details && sli.dt.details.status){
									dt_status = sli.dt.details.status;
								}
							%>
							<%if(t){%>
							<tr class='transaction top aligned' data-tid='<%=t.id%>'>
								<td>
									<span class='popup' data-html="<%-moment(t.occuredAt).tz('Asia/Kolkata').format('h:mm a')%>">
										
									<%-moment(t.occuredAt).tz('Asia/Kolkata').format('MMM')%></br>
									<span style="font-size: 1.5rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('DD')%></span></br>
									<span style="font-size: 0.75rem;"><%-moment(t.occuredAt).tz('Asia/Kolkata').format('YYYY')%></span>
									</span>
								</td>
								<td>
									<!-- category  -->
									<span style="opacity: 0.5;">Category:</span>
									<div class="ui category dropdown" style="<%=(t.type=='income_expense'&&!t.category)?'background:yellow':''%>">
										<input type="hidden" name="category" value="<%=t.category%>">
										<div class="text">None</div>
										<i class="dropdown icon"></i>
										<div class="menu">
											
										</div>
									</div>
									<!-- &nbsp;&nbsp;&nbsp; <span style="opacity: 0.5">| Tags:</span> -->
									<div class='ui divider' style='margin-top: 0px; margin-bottom: 0px;'></div>
									<!-- description -->
									<span class='description'><%-t.description?t.description:''%></span>
									<a class='edit' data-id='<%=t.id%>' href='' style="<%=(!t.description)?'background:yellow':''%>">edit</a><br>

									<div class='edit_description' data-id='<%=t.id%>' style='display:none;'>
										
										<div class="ui fluid input">
											<input type="text" name='description' value='<%-t.description?t.description:''%>'>
										</div>
										<br>
										<button class="ui teal button submit_edit_desc" data-id='<%=t.id%>' >save</button>
										<button class="ui red button cancel_edit_desc" data-id='<%=t.id%>' >cancel</button>
									</div>
									<span style="opacity: 0.5;">Tags:</span>
									<span class='tags'>
										<%- partial('partials/display_tags', {tags: t.tags}) %>
									</span>
									<i class="add_tags2 link plus icon" style="opacity: 0.5;"></i>
									<div class="ui add_tags_popup popup">
										Add tags to this transaction:
										<button class='ui teal disabled button submit_edit_tags'>update</button>
										<div class='ui tags_dd fluid multiple search selection dropdown'>
											<%
												var tag_names=_.map(t.tags,'id');
												var tags_string=tag_names.join(',');
											%>
											<input name='tags' type='hidden' value='<%=tags_string%>'>
											<i class='dropdown icon'></i>
											<input class='search' autocomplete='off' tabindex='0'><span class='sizer' style=''></span>
											<div class='default text'>Tags</div>
											<div class='menu transition hidden' tabindex='-1'>
												
											</div>
										</div>
										<br>
										<!-- <button class='ui red button cancel_edit_tags' data-id='<%=t.id%>' >cancel</button> -->
									</div>
									
									

									
									<br>
								</td>
								<td>
									<%if(t.type=='income_expense'){
										if(t.original_amount<0){%> 
											<span style='opacity: 0.5'>You paid</span><br>
											<b style='color:red' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
										<%}else{%>
											<span style='opacity: 0.5'>You got</span><br>
											<b style='color:#5bc5a2' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%-t.amount_inr%>"><%=t.original_currency%> <%=(t.original_amount)%></b>
										<%}
									}else{%>
										<span style='opacity: 0.5'>You transferred</span><br>
										<b style='' class="<%-t.original_currency!='INR'?'popup':''%>"" data-html="INR <%=(-t.amount_inr)%>"><%=t.original_currency%> <%=(-t.original_amount)%></b>
										
									<%}%>
								</td>
								<td>
									<%if(t.original_amount<0){%> 
										<span style='opacity: 0.5'>from</span><br>
									<%}else{%>
										<span style='opacity: 0.5'>deposited to</span><br>
									<%}%>
									<%=t.account.name%>
								</td>
								<td>
									<%if(t.type=='income_expense'){%> 
										<%if(t.original_amount<0){%> 
											<span style='opacity: 0.5'>to</span><br>
										<%}else{%>
											<span style='opacity: 0.5'>from</span><br>
										<%}%>
										<%=t.third_party%>
									<%}else{%>
										<span style='opacity: 0.5'>to</span><br>
										<%=t.to_account.name%>
									<%}%>
								</td>
								<td>
									<div class="ui basic icon top right pointing extra_options dropdown">
										<i class="angle down icon"></i>
										<div class="menu">
											<a class="disabled item" href='/transaction/<%=t.id%>/edit'><%=t.createdBy=='user'?'manual':'auto'%></a>
											<a class='item add_tags' href=''>Add tags</a>
											<a class="item" href='/transaction/<%=t.id%>/edit'>Edit</a>
											<!-- <a class="item" href='/transaction/<%=t.id%>/convert_to_transfer'>Convert to transfer</a> -->
											<a class="item" href='/transaction/<%=t.id%>/delete'>Delete</a>
										</div>
									</div>
								</td>
								<!-- <td></td>
								<td></td> -->
							</tr>
							<%}%>
						<%})%>
					</tbody>
				</table>
			</div>
			<div class="ui tab" data-tab="third">
				<table class="ui basic fluid unstackable table" style="display: block;overflow-x:scroll;">
					<thead>
						<tr>
	                        <th>Row</th>
	                        <th>Transaction</th>
	                        <th>Date</th>
	                        <th>Amount</th>
							<th>Similar transactions</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<%slis.forEach(function(sli){%>
							<% 
								var t;
								var t_created_flag=false;
								if(sli.transaction){
									t_created_flag=true;
									t=sli.transaction;
								}
								else if(sli.dt)
									t=sli.dt.transaction;
								var dt_status = '';
								if(sli.dt && sli.dt.details && sli.dt.details.status){
									dt_status = sli.dt.details.status;
								}
							%>	
							<%if(t){%>
								<tr data-tid='<%=sli.id%>' <%if(!t_created_flag){%>class="warning"<%}%> <%if(dt_status){%>class="positive"<%}%> >
									<td><%=sli.pos+1%></td>
										<td><%=t.third_party%></td>
										<td class='single line'><%=new Date(t.occuredAt).toISOString().substring(0,10)%></td>
										<td class='single line'><%=t.amount_inr%></td>
									<%if(sli.dt){%>
										<td class='single line'><a target='_blank' href='/dt/<%=sli.dt.id%>'><%=sli.dt.similar_transactions.length%></a></td>
										<% if(dt_status){ %>
										<td class='single line'><i class="icon checkmark"></i><%=dt_status =='duplicate' ? "Marked As Duplicate" : "Marked As Unique"%></a></td>
										<% }else{ %>
											<td class="single line"><i class="attention icon"></i> Requires Action</td>
										<% } %>
									<%}else{%>
										<td></td>
										<td></td>
									<%}%>
								</tr>
							<%}%>
							<!-- <%if(!t_created_flag){%>
								<tr style="background-color:yellow;" >
									additional data
									<td><%=sli.pos+1%></td>
								</tr>
							<%}%> -->
						<%})%>
					</tbody>
				</table>
			</div>
			<div class="ui tab" data-tab="fourth">
				<embed src="<%=doc.parsed_data.media_link_original%>" type="application/pdf"   height="1000px" width="95%">
			</div>
		</div>
		<div class='sixteen wide column'>
			<h4><%=unresolved_dts.length%> items needs your attention </h4>
		</div>
		

	</div>
	<% } else{ %>
	<div class="ui negative message">Not able to parse the document.</div>
	<% } %>
	
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.tabular.menu .item').tab();
	});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js"></script>