<div class='ui container'>
	<div class='ui grid'>
		<!-- <div class='one wide column'></div> -->
		<div class='sixteen wide column'>
			<h2>P&L - <%=pnl.name%></h3>
			<table class="ui celled unstackable collapsing table" id='daily_report' style="display: block;overflow-x:scroll;">
			<!-- <table class="ui celled unstackable collapsing table" style="display: block;overflow-x:scroll;"> -->
				<thead>
					<th></th>
					<%pnl.header.forEach(function(tp){%>
						<th class='single line'>
							<%=tp.year%>-<%=tp.month%>
						</th>
					<%})%>
					
					<!-- <th data-override="time">Time (in mins)</th> -->
					<!-- <th data-override="status">Status (Open / Done)</th> -->
				</thead>
				<tbody>
					<%pnl.rows.forEach(function(row){%>
						<tr class="<%=row.type=='header'?'active':''%>">
							<td >
								<%=row.name%>
							</td>
							<!-- <td>
								<pre><%=JSON.stringify(row.columns)%></pre>
							</td> -->
							<%pnl.header.forEach(function(tp){%>
								<td class='right aligned'><%=row.columns[tp.year+'-'+tp.month]?row.columns[tp.year+'-'+tp.month].toFixed(0):''%></td>
							<%})%>
						</tr>
					<%})%>
				</tbody>
			</table>
			
		</div>
		<div class='three wide column'></div>
		
	</div>
	
</div>