<style>
	.statistic>.label {
		font-size: 0.8em !important;
	}
</style>
<% var date_to='2019-01-10';%>
<% var date_from='2019-01-01';%>
<%var account=tag;%>
<div class='ui container'>
	<div class='ui grid'>
		<div class='sixteen wide column'>
			<h1><%=tag.name%></h1>
			<a href="/org/<%=req.org.id%>/tag/<%=tag.id%>/edit">edit</a><br/>
			<h3>Details:</h3>
			<b>Description:</b> <%=tag.description%><br/>
			<b>Budget:</b> INR <%=tag.budget%><br/>
			<%if(tag.parent){%>
				<b>Parent:</b> <a href="/tag/<%=tag.parent.id%>"><%=tag.parent.name%></a><br/>
			<%}%>
			<!-- <b>Has data from:</b> 25th June  -->
			<h3>Current state:</h3>
			<div class="ui tiny statistics">
				<a class="statistic" href='/transactions?tag=<%=tag.id%>&txn_type=income'>
					<div class="">
						Total income
					</div>
					<div class="value">
						22,000
					</div>
					
				</a>
				<a class="statistic" href='/transactions?tag=<%=account.id%>&txn_type=expense'>
					<div class="">
						Total expense
					</div>
					<div class="value">
						22,000
					</div>
					
				</a>
			</div>
			<!-- <b>Income and Expense</b> -->			
		</div>
		
		<div class='ui row'>
			<div class='sixteen wide column'>
				<h3 class="ui header">
					<!-- <i class="trophy icon"></i> -->
					<div class="content">
						<div class="ui inline adjust_time_span dropdown">
							<div class="text">This Month</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="header">Adjust time span</div>
								<!-- <div class="active item" data-text="today">Today</div> -->
								<div class="item" data-text="This Week">This Week</div>
								<div class="active item" data-text="This Month">This Month</div>
								<div class="item" data-text="This Year">This Year</div>
								<div class="item" data-text="This Financial Year">This Financial Year</div>
								<div class="item" data-text="During time period">This Financial Year</div>
							</div>
						</div>
					</div>
				</h3>
				<div class="ui tiny statistics">
					
					<a class="statistic" href='/transactions?tag=<%=tag.id%>&txn_type=income&date_from=<%=date_from%>&date_to=<%=date_to%>'>
						<div class="">
							Income
						</div>
						<div class="value">
							22,000
						</div>
						
					</a>
					<a class="statistic" href='/transactions?tag=<%=tag.id%>&txn_type=expense&date_from=<%=date_from%>&date_to=<%=date_to%>'>
						<div class="">
							Expense
						</div>
						<div class="value">
							22,000
						</div>
						
					</a>
				</div>
				<!-- <h3>During a time period:</h3> -->
			</div>
		</div>
		<div class='ui row'>
			<div class='eight wide column'>
				<!-- <b>Income and Expense</b> -->
				<h4>Income Expense</h4>
				<iframe
				    src="<%=metabase.income_expense%>"
				    frameborder="0"
				    width="100%"
				    height="200"
				    allowtransparency
				></iframe>
			</div>
			
		</div>
		<div class='ui row'>
			<div class='five wide column'>
				<!-- <b>Income and Expense</b> -->
				<h4>Income category vise</h4>
				<iframe
				    src="<%=metabase.category_vice_income%>"
				    frameborder="0"
				    width="100%"
				    height="300"
				    allowtransparency
				></iframe>
			</div>
			<div class='five wide column'>
				<!-- <b>Income and Expense</b> -->
				<h4>Expense category vise</h4>
				<iframe
				    src="<%=metabase.category_vice_expense%>"
				    frameborder="0"
				    width="100%"
				    height="300"
				    allowtransparency
				></iframe>
			</div>
		</div>
	</div>

	
</div>
<a class="circular ui icon right floated primary big button" href="/account/create" style="position:fixed;top:auto;left:auto;right:20px;bottom:20px;display:;" data-tooltip="Add new account" data-position="left center" data-inverted=""><i class="icon book"></i></a>
<script type="text/javascript">
	$(document).ready(function(){
		$('.popup').popup();
		$('.adjust_time_span.dropdown').dropdown();
	});
</script>