<div class="ui vertical menu">
	<a class="teal item" href='/org/<%=req.org.id%>/intro'>
		Intro
	</a>
	<a class=" teal item" href='/org/<%=req.org.id%>/intro/create_account'>
		Create account
	</a>
	<a class=" teal item" href='/org/<%=req.org.id%>/intro/create_transaction'>
		Create manual transaction
	</a>
	<a class=" teal item" href='/org/<%=req.org.id%>/intro/create_category'>
		Create category
	</a>
	<a class=" teal item" href='/org/<%=req.org.id%>/intro/forward_email'>
		Forward email
	</a>
	<a class=" teal item" href='/org/<%=req.org.id%>/intro/setup_auto_forwarders'>
		Setup auto forwarders
	</a>
	<a class="teal item" href='/org/<%=req.org.id%>/intro/parse_document'>
		Parse document
	</a>
</div>