<div class='ui container'>
	<div class="ui grid">
		<div class='four wide tablet computer only column'></div>
		<div class='eight wide table eight wide computer sixteen wide mobile column'>
			<h4 class="ui horizontal divider header">
				<!-- <i class="list icon"></i> -->
				Test Email body parsers
			</h4>
			<form class="ui <%=status%> form " action="" method='post'>
				<!-- <h4 class="ui dividing header">Shipping Information</h4> -->
				<div class="field">
					<label>Filters</label>
					<div class="ui fluid search selection dropdown">
						<input type="hidden" name="filter" value="<%=filter?filter.name:filters[0].name%>" required>
						<i class="dropdown icon"></i>
						<div class="default text">Select filter</div>
						<div class="menu">
							<%filters.forEach(function(filter){%>
								<div class="item" data-value="<%=filter.name%>">
									<%=filter.name%>
								</div>
								<%})%>
						</div>
					</div>
				</div>
				<div class="field">
					<label>webhook body</label>
					<textarea name="mailgun_webhook_body" required><%=mailgun_webhook_body?JSON.stringify(mailgun_webhook_body, null, 2):''%></textarea>
				</div>

				<input type="submit" class="ui button" value="Submit">
				<div class="ui error message">
					<%if(error){%>
						<div class="header">
							Error
						</div>
						<p>
							<%=error%>
						</p>
						<%}%>
				</div>
				<div class="ui success message">
					<div class="header">Posted</div>
				</div>
			</form>
			<%if(req.body){%>
				<div class="ui segment">
					<h3>
						Results:
					</h3>
					<form class="ui form">
						<div class="field">
							<label>Email id</label>
							<p>
								<%=email_id?email_id:'-'%>
							</p>
						</div>
						<div class="field">
							<label>Body parser used</label>
							<p>
								<%=body_parser_used?body_parser_used:'-'%>
							</p>
						</div>
						<div class="field">
							<label>Extracted Data</label>
							<p>
								<textarea rows="<%=extracted_data?10:1%>"><%=extracted_data?JSON.stringify(extracted_data,null,2):''%></textarea>
							</p>
						</div>
					</form>
				</div>
			<%}%>
		</div>
	</div>
</div>

<script>
	$('.ui.dropdown').dropdown();
	// custom form validation rule
	$.fn.form.settings.rules.isValidJSON = function (value) {
		try {
			JSON.parse(value);
			return true;
		} catch (err) {
			return false;
		}
	};
	$('.ui.form')
		.form({
			fields: {
				mailgun_webhook_body: {
					identifier: 'mailgun_webhook_body',
					rules: [
						{
							type: 'isValidJSON',
							prompt: 'enter a valid json'
						}
					]
				}
			}
		})
</script>